page-firstcourse {
.myview{
    background-color:#FFFFFF;
}
ion-grid{
    direction: rtl;
}
ion-list{
    direction: rtl;
    margin-top:80%;
}
ion-input{
    margin-right:30px;
}
ion-label{
    text-align:center;
    font-weight:bold;
    font-size:18px;	
    color:#4A484A;
}
ion-item{
	height:55px;
    background-color: #eeeeee;
}
 ion-row{
    color: #201C18;
    text-align:center;
    font-weight:bold;
    font-size:20px;
}
}
