<ion-header>

  <ion-navbar color="primary">
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-right><span style="margin-right: 5%;font-size: 25px">خولی یەکەم</span>

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()"><ion-icon name="help"></ion-icon>
    </button>
    <!-- <button ion-button style="float:right;">Logout</button> -->
    </ion-title>
  </ion-navbar>

</ion-header>
<!-- content -->
<ion-content padding class="myview">
    <!-- action adminstrate-->
    <ion-grid style="width: 100%;margin-right: -30px;">
      <ion-row>

      <ion-col  col-md-1></ion-col>
      <ion-col  col-md-10>
   	   <div style="margin-top: 1%">
   	    <ion-list>

          <ion-item no-line style="padding-right: 8px;height: 60px;background-color: #eeeeee">
            <ion-label style="color:#999999;">ناوی خوێندکار</ion-label>  <ion-label style="text-transform: capitalize;">{{student_info.name}}</ion-label>
            <ion-label style="color:#999999;">قۆناغ</ion-label>  <ion-label>{{student_info.stage_txtEn}}</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ion-col>
  </ion-row>
  <ion-row >
    <ion-col  col-md-1></ion-col>
      <ion-col  col-md-10 >
       <div style="margin-top: 2%">
        <ion-list>
          <ion-item no-line style="padding-right: 1px;height: 60px;background-color: #eeeeee" *ngFor="let stu_grade of student_grade; let j=index">
            <ion-label style="min-width:50% !important;text-transform: capitalize;">{{stu_grade.sub_name}}</ion-label>
            <ion-input text-center style="width:50%;text-align: center;text-align:center;" type="Username" [(ngModel)]="stu_grade.corse1" *ngIf="stu_grade.offer_type!='crossing'" tabindex="{{j+1}}" disabled="{{locked}}">{{stu_grade.corse1}}</ion-input>
            <ion-input text-center style="width:50%;text-align: center;text-align:center;" type="Username" [(ngModel)]="stu_grade.crossing" *ngIf="stu_grade.offer_type=='crossing'"  tabindex="{{j+1}}" disabled="{{locked}}">{{stu_grade.crossing}}</ion-input>
            <ion-label>{{stu_grade.offer_type}}</ion-label>
          </ion-item>  
          <ion-item  style="height: 70px;;background-color: #eeeeee">
            <button ion-button style="float:left;margin-bottom: 5px;width: 100px;background-color:#D08A32;height: 40px;font-size: 20px" (click)="grade_corse1(j)"  *ngIf="global.permissions && global.permissions.corse1_degree.insert && !locked">زیادکردن

            </button>
          </ion-item>
        </ion-list>
      </div>
      </ion-col>
      
   </ion-row>
 </ion-grid>
</ion-content>

