page-admission {
 .my_view{
   background-color:#eeeeee;
}
ion-grid{
   direction:rtl;
}
ion-searchbar{
  
}
ion-searchbar{        
   .searchbar-input-container{            
      .searchbar-input{
        border-radius: 20px;
        background-color:#D9D9D9;
      }
   }
}
.card_stu{
   direction: rtl;
   text-align: right;
   border-radius: 20px;
   background-color: #eeeeee
}
ion-list{
}
ion-label{
   text-align:center;
   font-weight:bold;
   font-size:17px; 
   color:#999999;
}
ion-item{
   height:55px;
   background-color: #eeeeee
}
// radio group
.gender{
   text-align:center;
   font-weight:bold;
   font-size:17px; 
   color: #999999;
   padding-right: 3%;
}
.lists_label{
   color: gray;
   
   text-align:right;
}
.select_card_roles{
   top:10px;
   margin-left:20%;
   font-weight:bold;
   font-size:15px;
   height:44px;
   color:#4A484A;
   width:100%;
   padding-right:20px;
   background-color: #eeeeee;
   border: 1px solid gray;
}
.gen_radio{
   padding-right: 60px;
   padding-top: 20px;
}
.cols{
}
.textarea{
   border: 2px #999999 solid;
   border-radius:2%;
   width: 50%;
   height: 90%;
}
.textarea_item{
}
.btn{
   font-size: 20px;
   background-color: #D08A32;
}
.btn:hover{
   background: #D08A32 !important;
}
[name="add"]{
   padding: 0 2px 0px 5px;
   border-color: transparent;
   background: none;
   box-shadow: none;
   font-size: 25px;
   color: white;
   transform: rotate(180deg);
}
[name="create"]{
   padding: 0 5px 0px 9px;
   border-color: transparent;
   background: none;
   box-shadow: none;
   font-size: 25px;
   color: white;
}
[name="eye"]{
   padding: 0 5px 0px 9px;
   border-color: transparent;
   background: none;
   box-shadow: none;
   font-size: 25px;
   color: white;
}
.requirment_card{
   direction: rtl;
   text-align: right;
   border-radius: 3%;
}
.requirment_label{
   text-align: right;
}
.paralel_card,{
   direction: rtl;
   text-align: right;
   border-radius: 3%;
   margin-top:3%;
   width:100%;
}
.descent_card{
   direction: rtl;
   text-align: right;
   border-radius: 3%;
   margin-top:10%;
   width:100%;
}

.transfer_card{
  direction: rtl;
  text-align: right;
  border-radius: 3%;
  margin-top:10%;
  width:100%;

}

.para_lable,.descent_label,.transfer_label{
  text-align: right;
  padding-left: 1%;
}

.des_radio{
  margin-top:10%;
  padding-left: 5px;
  margin-right:5%
}
.select_card_roles_descent,.select_card_roles_transfer{
    font-weight:bold;
    font-size:17px;
    width:60%;
    height:30px;
    color:#999999;
    float:left;
    direction: rtl;
    margin-right:40%;
}

.select_card_roles_transfer{

}
 table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-right:2%;
  margin-top:5%;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  text-align:center;

}
table.blueTable tbody td {
text-align:center;
  font-size: 20px;

}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4 !important;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}
}
ion-modal {
   margin-top:5px;
   position: absolute !important;
    width: 50% !important;
    height: 100% !important; 
    top: 10% !important;
    left: 20% !important;
    box-shadow: 26px 28px 28px 14px rgba(0,0,0,0.84);
    border-radius: 15px;

}
