<ion-header>

  <ion-navbar color="primary">
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-center><span style="font-size: 25px">وەرگرتن</span>
      
        <button ion-button style="float:right;width:300px;font-weight: bold;font-size: 20px" round round color="light">
        {{global.currentUser.f_name}}   {{global.currentUser.m_name}}   {{global.currentUser.s_name}}
      </button>
      
      <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="logout()">دەرچوون</button>
     
     <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()">
      <ion-icon name="help"></ion-icon>
    </button>

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="settings()">
      <ion-icon name="cog"></ion-icon>
    </button>
    </ion-title>

  </ion-navbar>

</ion-header>
<!-- content -->
<ion-content padiing class="">
  <ion-grid style="width: 100%">
    <ion-row>
      <ion-col col-md-6>
        <ion-row>
          <ion-searchbar (ionInput)="getItems($event)" placeholder="                                                                                    گەران"></ion-searchbar>
  
        </ion-row>

        <ion-row>
          <ion-card class="" *ngIf="global.permissions && global.permissions.admission.insert">
            <ion-list style="width: 100%;">
           

              <ion-item no-line style="border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
                <ion-label>
              کۆدی خوێندکار
                </ion-label>
                <ion-input type="text" [(ngModel)]="global.info.code" placeholder="کۆدی خوێندکار"></ion-input>
              </ion-item>
    
              <ion-item no-line style="border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
                <ion-label>
               ناوی  خوێندکار
                </ion-label>
                <ion-input type="text" [(ngModel)]="global.info.fname" placeholder="ناوی  خوێندکار"></ion-input>
              </ion-item>
              <ion-item no-line style="border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
                <ion-label>
               ناوی باوک  
                </ion-label>
                <ion-input type="text" [(ngModel)]="global.info.mname" placeholder="ناوی باوک"></ion-input>
              </ion-item>
              <ion-item no-line style="border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
                <ion-label>
               ناوی باپیر  
                </ion-label>
                <ion-input type="text" [(ngModel)]="global.info.sname" placeholder="ناوی باپیر"></ion-input>
              </ion-item>
              <ion-item no-line style="border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
                <ion-label>
               ناوی چوارەم
                </ion-label>
                <ion-input type="text" [(ngModel)]="global.info.lname" placeholder="ناوی چوارەم"></ion-input>
              </ion-item>
   
              <ion-row radio-group style="border-bottom: 1px solid #DBDBDB;background-color: #eeeeee" [(ngModel)]="global.info.gender">
                <ion-label style="margin-right: -7%">رەگەز</ion-label>
                  <ion-radio value="نێر" style="text-align:right;margin-right:2%;"class="gen_radio"></ion-radio>
                  <ion-label style="color: #999999; text-align: right;padding-right:5%;">نێر</ion-label>

                  <ion-radio value="مێ" class="gen_radio"></ion-radio>
                  <ion-label style="color: #999999;text-align: right;padding-right:5%;">مێ</ion-label>
              </ion-row>
    
              <ion-item no-line style="border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
                <ion-label style="margin-left: 82%">
               له‌دایكبوون
                </ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY"  [(ngModel)]="global.info.dob"></ion-datetime>
              </ion-item>

              <ion-item no-line style="border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
                <ion-label>
               ژمارەی موبایل 
                </ion-label>
                <ion-input type="text" [(ngModel)]="global.info.phone"placeholder="ژمارەی موبایل"></ion-input>
              </ion-item>

              <!-- list selected -->
                <ion-row padding class="" style="background-color: #eeeeee;border-bottom: 1px solid #DBDBDB;height: 60px">
                  <ion-label style="margin-left: 15%">
               زیادکردنی خوێندکار لە ڕێگەی فایل
                </ion-label>
                  <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
                  <button ion-button round (click)="UploadName()" >Upload</button>
                <!-- <ion-col style="max-width: 20%;">
                  <button ion-button>Import</button>
                </ion-col>
                <ion-col style="max-width: 80%;">
                <input  #fileInput type="file"/>
              </ion-col> -->
            </ion-row>

            <ion-item class="card" style="background-color: #eeeeee;border-bottom: 1px solid #DBDBDB;height: 60px">
                <ion-label style="margin-right: -24%"> تۆمارکردن</ion-label>
                  <ion-select class="select_card_roles" [(ngModel)]="global.info.selected_sem" placeholder="ساڵی وەرگرتن"  >
                    <ion-option *ngFor="let sem of global.semster;let i=index" value="{{sem.year}}">{{sem.year}}</ion-option>
                  </ion-select>
              </ion-item>

              <ion-item class="card" style="background-color: #eeeeee;border-bottom: 1px solid #DBDBDB;height: 60px">
                <ion-label style="margin-right: -21%">جۆری وەرگرتن </ion-label>
                  <ion-select class="select_card_roles" [(ngModel)] = "global.info.selected_reciveType" placeholder="جۆری وەرگرتن" 
                  style="color: gray;">
                    <ion-option value="ئاسایی">ئاسایی</ion-option>
                    <ion-option value="دابەزین"> دابەزین </ion-option>
                    <ion-option value="گواستنەوە">گواستنەوە </ion-option>
                    <ion-option value="پارالێڵ"> پارالێڵ </ion-option>
                    <ion-option value="گەڕاوە"> گەڕاوە </ion-option>
                  </ion-select>
              </ion-item>

              <ion-item class="" style="background-color: #eeeeee;border-bottom: 1px solid #DBDBDB;height: 60px">
                <ion-label style="margin-right: -22%">نیشتەجێبوون</ion-label>
                  <ion-select class="select_card_roles" placeholder="نیشتەجێبوون" [(ngModel)]="global.info.selected_resident">
                    <ion-option value="ناوشار">ناوشار</ion-option>
                    <ion-option value="دەرەوەی شار"> دەرەوەی شار</ion-option>
                  </ion-select>
              </ion-item>
             

              <ion-item class="" style="background-color: #eeeeee;border-bottom: 1px solid #DBDBDB;height: 60px">
               <ion-label style="margin-right: -24%">ناوی بەش</ion-label>
                <ion-select [(ngModel)]="global.info.selected_dep"  class="select_card_roles" placeholder="بەش">
                        <ion-option *ngFor="let dep of global.dep_name;let i=index" value="{{dep.name}}">{{dep.name}}</ion-option>
                      </ion-select>
              </ion-item>
              
              <ion-item class="" style="background-color: #eeeeee;border-bottom: 1px solid #DBDBDB;height: 60px">
                <ion-label style="margin-right: -27%">قۆناغ</ion-label>
                  <ion-select class="select_card_roles" [(ngModel)]="global.info.selected_stage" placeholder="قۆناغ" >
                    <ion-option value="First">یەکەم</ion-option>
                    <ion-option value="Second"> دووەم </ion-option>
                    <ion-option value="Third">سێیەم </ion-option>
                    <ion-option value="Fourth">چوارەم </ion-option>
                  </ion-select>
              </ion-item>
              

              <ion-item class="" style="background-color: #eeeeee;border-bottom: 1px solid #DBDBDB;height: 60px">
                <ion-label style="margin-right: -27%"> حاڵەت </ion-label>
                  <ion-select class="select_card_roles" placeholder="حاڵەت"  [(ngModel)]="global.info.selected_state">
                    <ion-option value="bardawam">بەردەوام</ion-option>
                    <ion-option value="kawtw"> کەوتوو </ion-option>
                    <ion-option value=" srinawa">سڕینەوە </ion-option>
                    <ion-option value="garawa"> گەڕاوە </ion-option>
                    <ion-option value="garaway parallel"> گەڕاوەی پارالێڵ </ion-option>
                  </ion-select>
              </ion-item>

              <ion-item style="background-color: #eeeeee;height: 100px">
                <ion-textarea placeholder=" تێبینی ..." class="textarea" style="background-color: #eeeeee" [(ngModel)]="global.info.note">
                </ion-textarea>
              </ion-item>
            </ion-list>
          </ion-card>
        </ion-row></ion-col>

     <ion-col col-md-6 padding>

     <ion-row>
     <!-- Requirment card -->
    <ion-card *ngIf="global.info.id_student && global.info.id_student>0" class="requirment_card" style="margin-top: 8%;background-color: #eeeeee">
      <ion-card-header text-center style="font-weight: bold;font-size: 20px;color: #808080;background-color: #488AFF;">پێداویستی خوێندکار</ion-card-header>
       <ion-list>
         

         <ion-row style="background-color: #eeeeee">
          <ion-col>
            <ion-row>
           <ion-checkbox disable="true" *ngIf="attachments.certificate.length>0" [(ngModel)]="attachments.certificate[0].status" style="margin-right: 2%;margin-top: 2%"></ion-checkbox>
           <ion-label class="requirment_label">
           بروانامە
           </ion-label>
           <input style="" #fileInputC type="file" multiple  />
           <button ion-button round (click)="startUpload(0)" *ngIf="global.permissions && global.permissions.admission.insert && global.info.id_student>0">Upload</button>
          </ion-row>

           <!-- <ion-label>
           <ion-icon name="attach"style="zoom:1.4;"></ion-icon>
           </ion-label> -->

           <ion-row>
           <input style="margin-top: 4%" #fileInputC type="file" multiple  />
           <button ion-button (click)="startUpload(0)" style="margin-right: 86%;background-color: #D08A32;font-size: 20px;margin-top: -4%">داگرتن</button>
            </ion-row>

             <ion-row *ngIf="attachments.certificate.length>0">
            <!-- yes -->
            <div *ngFor="let fil of attachments.certificate"> 
            <ion-icon padding name="attach" style="font-size:30px;"  (click)="openAttachment(fil.file_name)" *ngIf="fil.file_name.length>1">
            <!-- {{fil.id_req}}<br> -->
            </ion-icon>
            </div>
             </ion-row>
           </ion-col>
          </ion-row>
         <hr>


        <ion-row style="background-color: #eeeeee;">
          <ion-col>
            <ion-row>
           <ion-checkbox disable="false" *ngIf="attachments.ID.length>0"  [(ngModel)]="attachments.ID[0].status" style="margin-right: 2%;margin-top: 2%"></ion-checkbox>
           <ion-label class="requirment_label">
           ناسنامەی باری شارستانی
           </ion-label>
           <input style="" #fileInputID type="file" multiple  />
           <button ion-button round (click)="startUpload(1)" *ngIf="global.permissions && global.permissions.admission.insert && global.info.id_student>0">Upload</button>

         </ion-row>
           <ion-row *ngIf="attachments.ID.length>0">
                      <!-- yes -->
                      <div *ngFor="let fil of attachments.ID"> 
                        <ion-icon padding name="attach" style="font-size:30px;"  (click)="openAttachment(fil.file_name)" *ngIf="fil.file_name.length>1">
                          
                           <!-- {{fil.id_req}}<br> -->
                        </ion-icon>
                      </div>
                    </ion-row>
     <!--   <ion-icon padding name="attach" style="font-size:30px;"  (click)="openAttachment(attachments.ID.file_name)" *ngIf="attachments.ID.file_name.length>1"></ion-icon> -->
           
         </ion-col>
         </ion-row>


         <hr>
          <ion-row style="background-color: #eeeeee">
            <ion-col>
              <ion-row>
           <ion-checkbox disable="false" *ngIf="attachments.jnsya.length>0"  [(ngModel)]="attachments.jnsya[0].status" style="margin-right: 2%;margin-top: 2%"></ion-checkbox>
           <ion-label class="requirment_label">
           رەگەزنامە
           </ion-label>
           <input style="" #fileInputR type="file" multiple  />
           <button ion-button round (click)="startUpload(2)" *ngIf="global.permissions && global.permissions.admission.insert && global.info.id_student>0">Upload</button>

         </ion-row>
           <ion-row *ngIf="attachments.jnsya.length>0">
                      <!-- yes -->
                      <div *ngFor="let fil of attachments.jnsya"> 
 <ion-icon padding name="attach" style="font-size:30px;"  (click)="openAttachment(fil.file_name)" *ngIf="fil.file_name.length>1"></ion-icon>
</div></ion-row>
           
         </ion-col>
         </ion-row>
         <hr>


         <ion-row no-line style="border-bottom: 1px solid #DBDBDB;background-color: #eeeeee">
          <ion-col>
            <ion-row>
           <ion-checkbox disable="false" *ngIf="attachments.carty_znyary.length>0" [(ngModel)]="attachments.carty_znyary[0].status" style="margin-right: 2%;margin-top: 2%"></ion-checkbox>
           <ion-label class="requirment_label">
         کارتی زانیاری
           </ion-label>
           <input style="" #fileInputCZ type="file" multiple  />
           <button ion-button round (click)="startUpload(3)" *ngIf="global.permissions && global.permissions.admission.insert && global.info.id_student>0">Upload</button>

         </ion-row>
            <ion-row *ngIf="attachments.carty_znyary.length>0">
                      <!-- yes -->
                      <div *ngFor="let fil of attachments.carty_znyary">
 <ion-icon padding name="attach" style="font-size:30px;"  (click)="openAttachment(fil.file_name)" *ngIf="fil.file_name.length>1"></ion-icon></div></ion-row>
</ion-col>
           
         </ion-row>
    

         <ion-row no-line style="border-bottom: 1px solid #DBDBDB;background-color: #eeeeee">
          <ion-col>
            <ion-row>
           <ion-checkbox disable="false" *ngIf="attachments.zankoline_form.length>0" [(ngModel)]="attachments.zankoline_form[0].status" style="margin-right: 2%;margin-top: 2%"></ion-checkbox>
           <ion-label class="requirment_label">
         فۆڕمی زانکۆلاین
           </ion-label>
            <input style="" #fileInputZF type="file" multiple  />
           <button ion-button round (click)="startUpload(4)" *ngIf="global.permissions && global.permissions.admission.insert && global.info.id_student>0">Upload</button>

         </ion-row>
           <ion-row *ngIf="attachments.zankoline_form.length>0">
                      <!-- yes -->
                      <div *ngFor="let fil of attachments.zankoline_form">
 <ion-icon padding name="attach" style="font-size:30px;" (click)="openAttachment(fil.file_name)" *ngIf="fil.file_name.length>1" ></ion-icon>
</div>
</ion-row>
</ion-col>
         
         </ion-row>

   
         <ion-row no-line style="border-bottom: 1px solid #DBDBDB;background-color: #eeeeee">
          <ion-col>
            <ion-row>
           <ion-checkbox disable="false" *ngIf="attachments.national_card.length>0"  [(ngModel)]="attachments.national_card[0].status" style="margin-right: 2%;margin-top: 2%"></ion-checkbox>
           <ion-label class="requirment_label">
         کارتی نیشتیمانی
           </ion-label>
           <input style="" #fileInputCN type="file" multiple  />
           <button ion-button round (click)="startUpload(5)" *ngIf="global.permissions && global.permissions.admission.insert && global.info.id_student>0">Upload</button>

         </ion-row>

           <ion-row *ngIf="attachments.national_card.length>0">
                      <!-- yes -->
                      <div *ngFor="let fil of attachments.national_card">
       <ion-icon padding name="attach" style="font-size:30px;"  (click)="openAttachment(fil.file_name)" *ngIf="fil.file_name.length>1"></ion-icon>
     </div></ion-row></ion-col>
           
         </ion-row>

    
         <ion-row no-line style="border-bottom: 1px solid #DBDBDB;background-color: #eeeeee">
          <ion-col>
            <ion-row>
           <ion-checkbox disable="false" *ngIf="attachments.balennama.length>0"  [(ngModel)]="attachments.balennama[0].status" style="margin-right: 2%;margin-top: 2%"></ion-checkbox>
           <ion-label class="requirment_label">
         بەڵێننامە
           </ion-label>
           <input style="" #fileInputBN type="file" multiple  />
           <button ion-button round (click)="startUpload(6)" *ngIf="global.permissions && global.permissions.admission.insert && global.info.id_student>0">Upload</button>

         </ion-row>
            <ion-row *ngIf="attachments.balennama.length>0">
                      <!-- yes -->
                      <div *ngFor="let fil of attachments.balennama">
 <ion-icon padding name="attach" style="font-size:30px;"  (click)="openAttachment(fil.file_name)"*ngIf="fil.file_name.length>1"></ion-icon>
</div></ion-row></ion-col>
           
         </ion-row>
    
         <ion-row no-line style="border-bottom: 1px solid #DBDBDB;background-color: #eeeeee">
          <ion-col>
            <ion-row>
           <ion-checkbox disable="false" *ngIf="attachments.kafalat.length>0"   [(ngModel)]="attachments.kafalat[0].status" style="margin-right: 2%;margin-top: 2%"></ion-checkbox>
           <ion-label class="requirment_label">
         كەفالەت
           </ion-label>
           <input style="" #fileInputK type="file" multiple  />
           <button ion-button round (click)="startUpload(7)" *ngIf="global.permissions && global.permissions.admission.insert && global.info.id_student>0">Upload</button>

         </ion-row>
           <ion-row *ngIf="attachments.kafalat.length>0">
                      <!-- yes -->
                      <div *ngFor="let fil of attachments.kafalat">
 <ion-icon padding name="attach" style="font-size:30px;"  (click)="openAttachment(fil.file_name)" *ngIf="fil.file_name.length>1"></ion-icon>
           
         </div></ion-row></ion-col>
           
         </ion-row>


         <ion-row style="background-color: #eeeeee">
          <ion-col>
            <ion-row>
           <ion-checkbox disable="false" *ngIf="attachments.payment.length>0" [(ngModel)]="attachments.payment.status" style="margin-right: 2%;margin-top: 2%"></ion-checkbox>
           <ion-label class="requirment_label">
          وصلي پارە
           </ion-label>
             <input style="" #fileInputWP type="file" multiple  />
           <button ion-button round (click)="startUpload(8)" *ngIf="global.permissions && global.permissions.admission.insert && global.info.id_student>0">Upload</button>

         </ion-row>

            <ion-row *ngIf="attachments.payment.length>0">
                      <!-- yes -->
                      <div *ngFor="let fil of attachments.payment">
       <ion-icon padding name="attach" style="font-size:30px;"  (click)="openAttachment(fil.file_name)" *ngIf="fil.file_name.length>1"></ion-icon>
     </div></ion-row>
   </ion-col>
         
         </ion-row>
       </ion-list>
     </ion-card>
   </ion-row>

   <ion-row>
    <ion-col col-md-1></ion-col>
     <ion-col col-md-10>

      <!-- descent  -->
      <ion-card  class="descent_card" style="background-color: #eeeeee;" *ngIf="global.info.selected_reciveType=='دابەزین'" >
        <ion-card-header text-center style="font-weight: bold;font-size: 20px;color: #808080;background-color: #488AFF;">دابەزین</ion-card-header>
       <ion-list>
        

         <ion-item  no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
           <ion-label class="descent_lable">
          ناوی زانکۆ
           </ion-label>
           <ion-input type="text" [(ngModel)]="global.info.univ_name_descent" placeholder="ناوی زانکۆ"></ion-input>
         </ion-item>
    
         <ion-item ng-repeat="item in items" no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
           <ion-label class="descent_lable">
          ناوی بەش
           </ion-label>
           <ion-input type="text" [(ngModel)]="global.info.dep_name_descent" placeholder="ناوی بەش"></ion-input>
         </ion-item>
    
         <ion-item class="card" no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
           <ion-label class="lists_label">جۆری  دابەزین </ion-label>
               <ion-select class="select_card_roles" [(ngModel)]="global.info.selectedDescentType"style="background-color: #eeeeee;border:1px solid #808080;margin-left: 3%" placeholder="جۆری دابەزین" >
                  <ion-option value="ئاسایی">ئاسایی</ion-option>
                  <ion-option value="پارالێڵ"> پاراڵێڵ </ion-option>
               </ion-select>
         </ion-item>
   
         <ion-row radio-group no-line [(ngModel)]="global.info.selectedDescentState" style="padding-right: 20px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
           <ion-col class="cols">

             <ion-radio value="تازەوەرگیراو" class="des_radio"></ion-radio>
             <ion-label style="color: #999999; text-align: right;padding-right:20%;margin-top: -13%">تازە وەرگیراو</ion-label>
           </ion-col>

           <ion-col class="cols">
             <ion-radio value="پێشتروەرگیراو" class="des_radio"></ion-radio>
             <ion-label style="color: #999999;text-align: right;padding-right:20%;margin-top: -13%">پێشتر وەرگیراو</ion-label>
           </ion-col>

           <ion-col class="cols">
             <ion-radio value="پارالێڵ" class="des_radio"></ion-radio>
             <ion-label style="color: #999999;text-align: right;padding-right:20%;margin-top: -13%">پاراڵێڵ </ion-label>
           </ion-col>
         </ion-row>
    
         <ion-item style="background-color: #eeeeee">
           <ion-checkbox disable="false"></ion-checkbox>
           <ion-label class="requirment_label">
          نوسراو
           </ion-label>

           <ion-label>
           <ion-icon name="attach" style="zoom:1.4;"></ion-icon>
           </ion-label>
         </ion-item>

         <ion-row>
         <button ion-button (click)="addDescent()" style="width: 110px;background-color:#D08A32;color: white;height: 45px;font-weight: bold;font-size: 18px;margin-right: 80%">زیادکردن</button>
         </ion-row>

       </ion-list>
     </ion-card>
     <!-- end descent -->

     <!-- transfer -->
     <ion-card  class="transfer_card" style="background-color: #eeeeee;" *ngIf="global.info.selected_reciveType=='گواستنەوە'">

      <ion-card-header text-center style="font-weight: bold;font-size: 20px;color: #808080;background-color: #488AFF;">گواستنەوە</ion-card-header>

       <ion-list>
        
         <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
           <ion-label class="transfer_lable">
          ناوی زانکۆ
           </ion-label>
           <ion-input type="text" [(ngModel)]="global.info.univ_name_transfer" placeholder="ناوی زانکۆ"></ion-input>
         </ion-item>
   
         <ion-item ng-repeat="item in items" no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
           <ion-label class="transfer_lable">
          ناوی بەش
           </ion-label>
           <ion-input type="text" [(ngModel)]="global.info.dep_name_transfer" placeholder="ناوی بەش"></ion-input>
         </ion-item>
    

         <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
           <ion-label class="lists_label">هۆکار</ion-label>
              <ion-select class="select_card_roles" style="background-color: #eeeeee;border:1px solid #808080;margin-left: 3%" [(ngModel)] = "global.info.resons" placeholder="هۆکار">
                <ion-option>هۆکار</ion-option>
                <ion-option value="پارالێڵ"> پاراڵێڵ </ion-option>
                <ion-option value="‌أ">أ </ion-option>
                <ion-option value="ب"> ب </ion-option>
                <ion-option value="ج">ج</ion-option>
                <ion-option value="د">د</ion-option>
                <ion-option value="ه">ه </ion-option>
                <ion-option value="و">و</ion-option>
                <ion-option value="ز">ز</ion-option>
                <ion-option value="ح">ح</ion-option>
                <ion-option value="ط">ط</ion-option>
                <ion-option value="ي">ي</ion-option>
                <ion-option value="ك">ك</ion-option>
                <ion-option value="ل">ل</ion-option>
              </ion-select>
         </ion-item>
    

         <div no-line style="border-bottom: 1px solid #DBDBDB;height: 60px;padding-right: 15px;background-color: #eeeeee">
          <ion-row>
           <ion-checkbox [(ngModel)]="global.info.old_grade" style="margin-top: 3%"></ion-checkbox>
           <ion-label class="transfer_lable">
          نمرەی ساڵانی پێشوو
           </ion-label>
        
           <ion-label>
           <ion-icon name="attach" style="zoom:1.4;" *ngIf="global.info.file_name && global.info.file_name.length>2 " (click)="openAttachment(global.info.file_name)"></ion-icon>
           <input style="" #fileInputTR type="file" multiple  /></ion-label>
      
           <button ion-button round (click)="startUpload(9)" >Upload</button>
           
         </ion-row>
       </div>

         <ion-row>
         <button ion-button (click)="addTransfer()" style="width: 110px;background-color:#D08A32;color: white;height: 50px;font-weight: bold;font-size: 18px;margin-right: 80%">زیادکردن</button>
         </ion-row>

       </ion-list>
     </ion-card>

     <table style="width:100%" class="blueTable" *ngIf="( global.info.selected_reciveType=='دابەزین' &&global.info.selectedDescentType=='پارالێڵ') || global.info.selected_reciveType=='پارالێڵ' || (global.info.resons=='پارالێڵ' && global.info.selected_reciveType=='گواستنەوە')">
    <thead>
    <tr style="height: 35px">
       <th text-center>
        سالی خوێندن
      </th>
      <th text-center>
        بڕی پارەی دراو
      </th>
      <th text-center>
        نرخی خوێندن
      </th>
     <th text-center>
        بەروار
      </th>

    </tr></thead>
    <tr style="height: 30px" *ngFor="let stuPay of studentPayment">
       <th text-center>
        {{stuPay.year}}
      </th>
      <th text-center>
        {{stuPay.payment}}
      </th>
      <th text-center>
        {{stuPay.price}}
      </th>
     <th text-center>
      {{stuPay.dateOFpayment}}
      </th>

    </tr>
  </table>

      <!-- paralel -->
       <ion-card  class="paralel_card" style="background-color: #eeeeee;" *ngIf="( global.info.selected_reciveType=='دابەزین' &&global.info.selectedDescentType=='پارالێڵ') || global.info.selected_reciveType=='پارالێڵ' || (global.info.resons=='پارالێڵ' && global.info.selected_reciveType=='گواستنەوە')">
        
        <ion-card-header text-center style="font-weight: bold;font-size: 20px;color: #808080;background-color: #488AFF;">پارالێل</ion-card-header>
        <ion-list>
          
          <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label class="para_lable">
           نرخی خوێندن
            </ion-label>
            <ion-input type="text" [(ngModel)]="global.info.price" placeholder="نرخی خوێندن"></ion-input>
          </ion-item>

          <ion-item style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
                <ion-label class="para_lable">وەرزی خوێندن</ion-label>
                  <ion-select class="select_card_roles" [(ngModel)]="global.info.sem_payment" placeholder="وەرزی خوێندن"  style="margin-left: 3%">
                    <ion-option *ngFor="let sem of global.semster;let i=index" value="{{sem.year}}">{{sem.year}}</ion-option >
                  </ion-select>
              </ion-item>
    
          <ion-item ng-repeat="item in items" no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label class="para_lable">
           بڕی پارەی دراو
            </ion-label>
            <ion-input type="text" [(ngModel)]="global.info.payment" placeholder="بڕی پارەی دراو" ></ion-input>
          </ion-item>
   
          <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label style="margin-left: 80%;">
               بەروار
                </ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY"  [(ngModel)]="global.info.date_of_payment"></ion-datetime>
          </ion-item>
   
          <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
             <ion-checkbox></ion-checkbox>
             <ion-label class="para_lable">
            وصلی پارە
             </ion-label>

             <ion-label>
             <ion-icon name="attach" style="zoom:1.4;"></ion-icon>
             </ion-label>
          </ion-item>
    
          <ion-item style="background-color: #eeeeee">
            <ion-label style="text-align: right;padding-right: 60%">
          کۆی پارەی دراو :
            </ion-label>
          </ion-item>

          <ion-item style="background-color: #eeeeee">
            <button ion-button (click)="addParallel()" style="width: 110px;background-color:#D08A32;color: white;height: 45px;font-weight: bold;font-size: 18px;margin-right: 80%">
          زیادکردن
           </button>
          </ion-item>

        </ion-list>
      </ion-card>
      <!-- paralel end -->
   </ion-col>

</ion-row>
</ion-col>
</ion-row>
<ion-row style="margin-right: 9%">  
          <!-- Buttons -->
          <div>
            <button ion-button icon-start class="btn" style="height: 40px;top: 20px;" (click)="add_student()" >
           <ion-icon name="add"></ion-icon>
          زیادکردن
           </button>
           
           <button ion-button icon-start class="btn" style="height: 40px;top: 20px;" (click)="saveStudentinfo()"  *ngIf="global.permissions && global.permissions.admission.update && global.info.id_student>0">

           <ion-icon name="create"></ion-icon>
         گۆڕانکاری کردن
           </button>

           

           <button ion-button class="btn" (click)="view_admission()"  *ngIf="global.permissions && global.permissions.admission.select && global.info.id_student>0"  style="height: 40px;top: 20px;">
           <ion-icon name="eye"></ion-icon>بینینەوە
           </button>
          </div>
          <!-- End buttons -->
        </ion-row>
        <br>
</ion-grid>

<ion-card *ngIf="global.searchedStudent && global.searchedStudent.length>0" style="position:absolute;top:50px; width:60%;">
  <ion-card-header style="background-color: gray">
   <span style="font-weight: bold;margin-left: 40%;background-color: gray">Searched students</span>
  </ion-card-header>
  <table style="width:100%;border:1px solid grey;">
    <tr style="border:2px solid grey;">
      <th text-center style="text-transform:capitalize;border:2px solid black;">
        کۆد
      </th>
       <th text-center style="text-transform:capitalize;border:2px solid black;">
        ناو
      </th>
      <th text-center style="text-transform:capitalize;border:2px solid black;">
        ئیمەیڵ
      </th>
      <th text-center style="text-transform:capitalize;border:2px solid black;">
        ژمارەی موبایل
      </th>
      <th text-center style="text-transform:capitalize;border:2px solid black;">
        ڕەگەز
      </th>
      <th text-center style="text-transform:capitalize;border:2px solid black;">
        بەش
      </th>

    </tr>
    <tr *ngFor="let stu of global.searchedStudent;let i=index" (click)="selectStudent(i)" style="border:1px solid grey;">
      <td text-center style="text-transform:capitalize;">
        {{stu.code}}
      </td> <td text-center style="text-transform:capitalize;">
        {{stu.name}}
      </td> <td text-center style="text-transform:capitalize;">
        {{stu.email}}
      </td> <td text-center style="text-transform:capitalize;">
        {{stu.phone}}
      </td> <td text-center style="text-transform:capitalize;">
        {{stu.gender}}
      </td>
      <td text-center style="text-transform:capitalize;">
        {{stu.department}}
      </td>
    </tr>
    </table>
  </ion-card>
<script>
  function viewAdmission()
  {
    var mapForm = document.createElement("form");
  mapForm.target = "_blank";    
  mapForm.method = "POST";
  mapForm.action = "abmCatalogs.ftl";

  // Create an input
  var mapInput = document.createElement("input");
  mapInput.type = "text";
  mapInput.name = "variable";
  mapInput.value = "lalalalala";

  // Add the input to the form
  mapForm.appendChild(mapInput);

  // Add the form to dom
  document.body.appendChild(mapForm);

  // Just submit
  mapForm.submit();
}
</script>
</ion-content>



