<ion-content padding class="myview">
	 <!-- action adminstrate-->
    <ion-grid style="width: 100%;margin-right: -30px;">
      <ion-row>
       <ion-col  col-md-4></ion-col>
       <ion-col  col-md-4>
  	     <ion-card style="border-radius: 20px;background-color: #eeeeee">
           <ion-list style="width: 100%;">
             <div text-center style="border-bottom: 1px solid #DBDBDB;background-color: #eeeeee;">
               <ion-img width="220" height="200" src="assets/imgs/download.png"></ion-img>  
             </div>

             <ion-item no-line style="padding-right: 8px;
              border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee">
               <ion-label>ناوی بەکارهێنەر</ion-label>
               <ion-input type="Username" [(ngModel)]="info.user" ></ion-input>
             </ion-item>
    
             <ion-item no-line style="padding-right: 8px;
             border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee">
               <ion-label >وشەی تێپەر</ion-label>
               <ion-input [type]="getType()" [(ngModel)]="info.password"></ion-input>
               <ion-icon name="eye" item-right (click)="toggleTextPassword()" style="padding-left: 2%;color:#9C9999 "></ion-icon>
             </ion-item>
   
             <ion-item  style="height: 80px;;background-color: #eeeeee">
   	           <button ion-button large fu ll style="float:left;margin-bottom: 5px;width: 110px;;height: 45px;background-color:#D08A32" (click)="tabs()">
               چوونه‌ ژووره‌وه‌
               </button>
             </ion-item>
           </ion-list>
         </ion-card>
       </ion-col>
       <ion-col  col-md-4></ion-col>
     </ion-row>
   </ion-grid>
</ion-content>
