page-login {
.myview{
   background-color:#0E6AC6;
}
ion-grid{
margin-top:8%;
   direction: rtl;
}
ion-card{
   direction: rtl;
}
ion-input{
   margin-right:20px;
}
ion-label{
   text-align:center;
   font-weight:bold;
   font-size:20px;	
   color:#4A484A;
}
ion-item{
   height:55px;
}
ion-item:active{
border-bottom:1px solid #0E6AC6;
}

}
