<ion-header>

  <ion-navbar color="primary">
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-right><span style="margin-right: 5%;font-size: 25px">{{dep.name}}</span>
    
    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()"><ion-icon name="help"></ion-icon>
    </button>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content padiing class="my_view">
  <ion-grid style="width: 100%;margin-right: -30px;">
    <ion-row>
      
        <ion-col col-md-5>
          <ion-searchbar (ionInput)="getItems($event)"placeholder="                                                    گەران بۆ خوێندکار" style="margin-right: 20%"></ion-searchbar>
        </ion-col>

        <ion-col col-md-1>
      </ion-col>

         <ion-col col-md-5>
            <ion-item style="height: 47px;background-color: #D9D9D9;margin-top: 8%;border-radius: 20px;margin-left: 15%">
              <ion-label style="margin-left: 65%">وەرزی خوێندن</ion-label>
                      <ion-select class="select_card_roles myCustomSelect" [(ngModel)]="selected_sem" placeholder="وەرز" >
                       <ion-option *ngFor="let sem of global.semster;">{{sem.year}}</ion-option>
                      </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-md-2>
      </ion-col>
        </ion-row>

        <ion-row no-padding no-margin style="width: 100%;">
        <ion-col col-md-8 no-padding no-margin style="margin-right: 20%">
         <ion-row radio-group [(ngModel)]="selectedStage">
          
           <ion-col no-padding no-margin>
              <ion-radio value="First" class="search_radio" (ionSelect)="showStudentsByStage()"></ion-radio>
              <ion-label style="color: #000000;text-align: right;" class="p_d_label">قۆناغی یەکەم</ion-label>  
           </ion-col>

           <ion-col no-padding no-margin>
              <ion-radio value="Second" class="search_radio" (ionSelect)="showStudentsByStage()"></ion-radio>
              <ion-label style="color: #000000;text-align: right;" class="p_d_label">قۆناغی دووەم</ion-label>  
           </ion-col>

           <ion-col no-padding no-margin>
              <ion-radio value="Third" class="search_radio" (ionSelect)="showStudentsByStage()"></ion-radio>
              <ion-label style="color: #000000; text-align: right;" class="p_d_label">قۆناغی سێیەم</ion-label>
           </ion-col>

           <ion-col no-padding no-margin>
              <ion-radio value="Fourth" class="search_radio" (ionSelect)="showStudentsByStage()"></ion-radio>
              <ion-label style="color: #000000;text-align: right;" class="p_d_label">قۆناغی چوارەم</ion-label>
           </ion-col>
         </ion-row>
       </ion-col>
     </ion-row>
     <ion-row>
       <ion-col col-md-11> 
         <!-- table  view student-->
         <table style="width:100%;margin-right: 6%" class="blueTable">
          <thead>
           <tr style="height: 40px">
             <th align-content-start text-center > 
            كۆد
             </th>
             <th align-content-start text-center > 
            ناوی خوێندکار
             </th>

             <th align-content-start text-center>
             ڕه‌گه‌ز
             </th>
              <th align-content-start text-center>
             له‌دایك بوون
             </th> 
             <th align-content-start text-center>
             قۆناغ
             </th> 
             <th align-content-start text-center>
             ته‌له‌فۆن
             </th> 
             <th align-content-start text-center>
             ناونیشان
             </th> 
             <th align-content-start text-center>
             حاله‌ت
             </th>
           </tr></thead>

           <tr class="rows" *ngFor="let stu of global.shownstudent;let i=index" style="height: 35px">
             <td align-content-start text-center > 
            {{stu.code}}
             </td>

             <td align-content-start text-center>
             {{stu.name}}
             </td>
             <td align-content-start text-center>
             {{stu.gender}}
             </td>
             <td align-content-start text-center>
             {{stu.dob}}
             </td>
             <td align-content-start text-center>
             {{stu.stage_txtEn}}
             </td>
             <td align-content-start text-center>
             {{stu.phone}}
             </td>
             <td align-content-start text-center>
             {{stu.resident}}
             </td>
             <td align-content-start text-center>
             {{stu.state}}
             </td>
             
           </tr>
         </table>
       </ion-col>
       <ion-col col-md-3></ion-col>
       <ion-col col-md-3>
       </ion-col>
     </ion-row>
  
</ion-grid>
</ion-content>
