page-department {

.my_view{
   background-color:#eeeeee;
}
ion-grid{
   direction:rtl;
}

//action of adminstrate
.action_admin{
   margin-top: 20%;
}
.myCustomSelect{
    max-width: 40% !important;
   }
.popular{
   background:#0E6AC6;
}
.popular_info{
   background:#0E6AC6;
   font-weight:bold;
   font-size:27px;
   color:white;
}
.select_card_roles{
	position:fixed;
   right:300px;
   height:44px;
   color:#808080;
   width:100%;
   padding-right:100px;
   background-color: #D9D9D9;
   border: 1px solid gray;
}
//end action of adminstrate
.co1{
   font-weight:bold;
   font-size:18px;
}
ion-searchbar{
	 margin-top: 7%;
}
ion-searchbar{        
   .searchbar-input-container{            
     .searchbar-input{
        border-radius: 20px;
        background-color:#D9D9D9;
      }
    }
}
.search_radio{
	margin-top: 28%;
   margin-right:30%;
}
ion-label{
   text-align:center;
   font-weight:bold;
   font-size:17px; 
   color:#999999;
}
.p_d_label{
   margin-top: -9%;
   padding-right:40%;
}

//table view student
.table_view_stu{
   direction: rtl; 
   color: #201C18;
}
.rows{
   text-align:center;
  
   font-size:20px;
   height:32px;
}
.column{
   display: flex;
   justify-content: center;
   align-items: center;
   height:58px;
}
//end table view student

//table view subject
.table_view_sub{
   direction: rtl;
   color: #201C18;
}
.rows_sub{
   text-align:center;
   font-weight:bold;
   font-size:20px;
}
.column_sub{
   display: flex;
   justify-content: center;
   align-items: center;
   height:58px;
}
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  text-align:center;

}
table.blueTable tbody td {
text-align:center;
  font-size: 20px;

}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4 !important;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}
//end table view student
}
