page-viewadmission {
.my_view{
   background-color:#eeeeee;
}
ion-grid{
   direction:rtl;
}
ion-searchbar{
   margin-top:15%; 
}
ion-searchbar{        
   .searchbar-input-container{            
    .searchbar-input{
        border-radius: 20px;
        background-color:#D9D9D9;
    }
   }
 }
.search_radio{
	 margin-top:60%;
   margin-right:2%;
}
ion-label{
   width: 300px;
   text-align:center;
   font-weight:bold;
   font-size:17px; 
   color:#999999;
}
.p_d_label{
   width: 200px;
   margin-top:-13%;
   margin-right:30%;
}
ion-row{
   text-align:center;
   font-weight:bold;
   font-size:20px;
}
.ion_col_odd_grid{
 	 background-color:#C2C2C2;
 	 display: flex;
   justify-content: center;
   align-items: center;
   height:58px;
}
.ion_col_even_grid{
 	 background-color:#D9D9D9;
 	 display: flex;
   justify-content: center;
   align-items: center;
   height:58px;
}
}
