<ion-header>

  <ion-navbar color="primary">
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title>
      View Admission
    </ion-title>
    <button ion-button round color="light" style=" float:right;font-weight: bold; max-width:35px; max-height:35px;" (click)="showinfo()">
      <ion-icon name="help"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>
<ion-content padding class="my_view">
    <ion-grid style="width: 100%;">
        <ion-row>
            <ion-row style="width: 100%">
                <ion-col col-md-4>
                    <ion-searchbar (ionInput)="getItems($event)"placeholder="                                                      گەڕان"></ion-searchbar>
                </ion-col>


                <ion-col col-md-8>
                  <ion-row radio-group>
                    <ion-col col-md-2>
                       <ion-radio value="descent_parallel" class="search_radio" ></ion-radio>
                        <ion-label style="color: #000000;text-align: right;padding-right:30%;" class="p_d_label" (ionSelect)="decentparallel()">دابەزین بە پاراڵێڵ
                        </ion-label>      
                    </ion-col>

                    <ion-col col-md-2>
                       <ion-radio value="transfer_parallel" class="search_radio"></ion-radio>
                       <ion-label style="color: #000000;text-align: right;padding-right:30%;" class="p_d_label">گواستنەوە بەپاراڵێڵ</ion-label>      
                    </ion-col>

                    <ion-col col-md-2>
                        <ion-radio value="parallel" style="text-align:right;" class="search_radio"></ion-radio>
                        <ion-label style="color: #000000; text-align: right;padding-right:30%;" class="p_d_label">پاراڵێڵ
                        </ion-label>
                    </ion-col>

                    <ion-col col-md-2>
                        <ion-radio value="transfer" class="search_radio"></ion-radio>
                        <ion-label style="color: #000000;text-align: right;padding-right:30%;" class="p_d_label">گواستنەوە</ion-label>
                    </ion-col>

                    <ion-col col-md-2>
                        <ion-radio value="descent" class="search_radio"></ion-radio>
                         <ion-label style="color: #000000;text-align: right;padding-right:30%;" class="p_d_label">دابەزین 
                         </ion-label>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>

              <ion-row style="width: 100%">
                <ion-col col-md-12>
                <!-- table asayy -->
                <ion-grid>
                  <ion-row style="height: 50px;">
                    <ion-col align-content-start  class="ion_col_odd_grid" col-md-1>
                    زنجیرە
                    </ion-col>
                    <ion-col align-content-start class="ion_col_even_grid" col-md-1>
                  کۆد
                    </ion-col>
                    <ion-col align-content-start  class="ion_col_odd_grid" col-md-1>
                   ناوی خوێندکار
                    </ion-col>
                    <ion-col align-content-start class="ion_col_even_grid" col-md-1>
                   ڕەگەز
                    </ion-col>
                    <ion-col align-content-start  class="ion_col_odd_grid" col-md-1>
                    ژ.موبایل
                    </ion-col>
                    <ion-col align-content-start class="ion_col_even_grid" col-md-1>
                   نیشتەجێ بوون
                    </ion-col>
                    <ion-col align-content-start class="ion_col_odd_grid" col-md-1>
                   جۆری وەرگرتن
                    </ion-col>
                    <ion-col align-content-start class="ion_col_even_grid" col-md-1>
                   حاڵەت
                    </ion-col>
                    <ion-col align-content-start class="ion_col_odd_grid" col-md-1>
                   ماوەی وەرگرتن
                    </ion-col>

                    <!--descent parallel -->
            
                     <ion-col align-content-start class="ion_col_even_grid" col-md-1 *ngIf="show">
                    ناوی زانکؤ
                     </ion-col>
                     <ion-col align-content-start class="ion_col_odd_grid" col-md-1 *ngIf="show">
                    ناوی بەش
                     </ion-col>
                     <ion-col align-content-start class="ion_col_even_grid" col-md-1 *ngIf="show">
                   بری پارەی دراو
                     </ion-col>
                     <!--transfer parallel -->
                     <!--parallel -->
                     <!--transfer -->
                     <!--descent -->
                   </ion-row>
               </ion-grid>
           </ion-col>
       </ion-row>
   </ion-row>
</ion-grid>
	<!-- <ion-list>
		<ion-item *ngFor="let item of items">
			{{ item }}
		</ion-item>
	</ion-list> -->
</ion-content>
