<!-- content -->
<ion-header>

  <ion-navbar color="primary" >
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-center><span style="font-size: 25px"> Edit Enroll</span>
 
    <button ion-button style="float:right;width:300px;font-weight: bold;font-size: 20px" round round color="light">
        
    </button>
    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()"><ion-icon name="help"></ion-icon>
    </button>

    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="">
	<ion-grid>
   <ion-row style="background-color: #E4E4E4;direction: rtl;margin-top: 1%">
           <ion-col col-md-1>
            <ion-label style="font-size: 20px;font-weight:bold;margin-right: 50px">وانه‌كان</ion-label>
           </ion-col>
          <ion-col col-md-2>
            
          <ion-item class="card" style="height: 50px;background-color: #eeeeee;">
              <ion-label class="rol">وەرزی خوێندن</ion-label>
                      <ion-select class="select_card_roles myCustomSelect" [(ngModel)]="selected_sem">
                       <ion-option *ngFor="let sem of global.semster;" disabled="{{sem.locked=='1'}}">{{sem.year}}</ion-option>
                      </ion-select>
            </ion-item>
          </ion-col>

          <ion-col col-md-2>
          <ion-item class="card" style="height: 50px;background-color: #eeeeee;">

              <ion-label class="rol">قۆناغ</ion-label>
                      <ion-select class="select_card_roles myCustomSelect" [(ngModel)]="selected_stage" (ionChange)="getSubjects()" >
                       <ion-option *ngFor="let st of global.stage;">{{st.stagetxt}}</ion-option>
                      </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-md-2>
            <ion-item class="card" style="height: 50px;background-color: #eeeeee;">

              <ion-label class="rol">وانه‌</ion-label>
            <ion-select class= "myCustomSelect select_card_roles ion-text-uppercase" [(ngModel)]="selected_sub">
              <ion-option *ngFor="let sub of foundSubjects;let j=index"  value="{{sub.sub_name}}" style="text-transform: capitalize;">{{sub.sub_name}}</ion-option>
            </ion-select>
          </ion-item>
          </ion-col>
          <ion-col col-md-2>
          	 <ion-item class="card" style="height: 50px;background-color: #eeeeee;">

              <ion-label class="rol">جۆر</ion-label>
          	<ion-select [(ngModel)]="offer_type" class= "myCustomSelect select_card_roles ion-text-uppercase">
          		<ion-option value="normal"> Normal
          		</ion-option>
          		<ion-option value="crossing"> Crossing
          		</ion-option>
          		<ion-option value="secdon_year"> Second Year
          		</ion-option>
          	</ion-select>
          </ion-item>
          </ion-col>
          <ion-col col-md-1>
            <button ion-button style="width:250px;background-color: #D08A32;height: 45px;margin-right: 50px;font-size: 20px" (click)="offerSub()">زیادکردنی وانە</button>
          </ion-col>
        </ion-row>
        <br>
        <ion-row *ngFor="let enroll of student_grade;let i=index" style="background-color: #E4E4E4;direction: rtl">
        	<ion-label style="margin-right: 50px;font-size: 20px">
        		{{enroll.sub_name}}
        	</ion-label>
        	<ion-label>
        		{{enroll.offer_type}}
        	</ion-label>
        	<button ion-button  (click)="deleteEnroll(i)" style="margin-left: 130px;margin-bottom:1%;font-size: 20px;background-color: #D08A32">
        		سرینەوە
        	</button>
        </ion-row>
    </ion-grid>
</ion-content>
