<!-- header -->


<ion-tabs selectedIndex="3">

  <ion-tab [root]="tab4Root" tabTitle="پشتگیری/راستی و دروستی"  tabIcon="clipboard" class="" *ngIf="global.permissions && global.permissions.report && global.permissions.report.select"></ion-tab>

  <ion-tab [root]="tab2Root" tabTitle="بڕوانامە"  tabIcon="paper" class="" *ngIf="global.permissions && global.permissions.certificates && global.permissions.certificates.select"></ion-tab>

  <ion-tab [root]="tab3Root" tabTitle="وەرگرتن"  tabIcon="contacts" class="" *ngIf="global.permissions && global.permissions.admission && global.permissions.admission.select"></ion-tab>

  <ion-tab [root]="tab1Root" tabTitle="پەرەی سەرەکی" tabIcon="home" class="" *ngIf="global.permissions && global.permissions.home && global.permissions.home.select" ></ion-tab>

  <ion-tab [root]="tab6Root" tabTitle="نمرەی خوێندکاران"  tabIcon="bookmarks" class="" *ngIf="global.permissions && global.permissions.department_degree && global.permissions.department_degree.select"></ion-tab>

  <ion-tab [root]="tab5Root" tabTitle="پەرەی سەرەکی" tabIcon="home" class="" *ngIf="global.permissions && global.permissions.home_exam && global.permissions.home_exam.select" Index="7"></ion-tab> 
</ion-tabs>
  

