page-popular-examcommittee {
.myview{
   background-color:#eeeeee;
}
ion-grid{
   direction: rtl;
}
//action of adminstrate
.action_admin{
}
.add_department{
   background:#0E6AC6;
}
.add_department_info{
   background:#0E6AC6;
   font-weight:bold;
   font-size:27px;
   color:white;
}
.select_style_action{
   background:#0E6AC6;
   font-weight:bold;
   font-size:27px;
   color:white;
   direction: rtl;
   padding-left: 50px;
   padding-right: 60px;
   border-style: hidden;
}
//end action of adminstrate

//card page popular information
.card{
   direction: rtl;
}
.add_popular_label{
   color: white;
   padding-right: 50px;
   text-align:center;
   height:100%;
   font-weight: bold;
}
ion-input{
   margin-right:20px;
}
ion-label{
   text-align:center;
   font-weight:bold;
   font-size:20px; 
   color:black;
}
//end card page popular information

//table view popular information
.table_view_popular{
   direction: rtl;
   color: #201C18;
}
ion-row{
   text-align:center;
   
   font-size:20px;
}
.name_collage{
   float:left;
   padding-left:1000px;
   font-weight:bold;
   font-size:30px; 
   color:#201C18;
   margin-top: 10%;
}
.col{
 }
 .btn{
   border-color: transparent;
   background: none;
   box-shadow: none;
   font-size: 20px;
   color:#808080;
   font-weight: bold;
   background-color: #F4F4F4;
 }
 table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  text-align:center;

}
table.blueTable tbody td {
text-align:center;
  font-size: 20px;

}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4 !important;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

}
