<ion-header>

  <ion-navbar color="primary">
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-right><span style="margin-right: 5%;font-size: 25px">زانیاری گشتی</span>
    

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()"><ion-icon name="help"></ion-icon>
    </button>
    
    </ion-title>
  </ion-navbar>

</ion-header>

<!-- content -->
<ion-content padding class="">
   <ion-grid style="width: 100%;">
      <ion-row style="height:100%;margin-right: 200px;margin-left: 150px">

         <ion-col >
          <span style="color: #808080;margin-bottom: ٦0%">زانیاری گشتی</span>
            <!-- card page popular information -->
            <ion-card style="background-color: #eeeeee;">
              <ion-list style="width: 100%">
              
                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >ناوی کۆلێژ</ion-label>
                  <ion-input type="Text" placeholder="ناوی کۆلێژ"></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >ئیمیل</ion-label>
                  <ion-input type="Text" placeholder="کۆلێژ "></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >وێبسایت</ion-label>
                  <ion-input type="Text" placeholder="زانکۆ"></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >راگری کۆلێژ</ion-label>
                  <ion-input type="Text" [(ngModel)]="dean" placeholder="ڕاگری کۆلێژ"></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >لێپرسراوی تۆمارگا</ion-label>
                  <ion-input type="Text"[(ngModel)]="reg_liable" placeholder="لێپرسراوی تۆمارگا"></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >سەرۆکی ل. تاقیکردنەوەکان</ion-label>
                  <ion-input type="Text" [(ngModel)]="headExamComm" placeholder="سەرۆکی لیژنەی تاقیکردنەوەکان"></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >سەرپەرشتیاری ل. ت</ion-label>
                  <ion-input type="Text"[(ngModel)]="examSupervisor" placeholder="سەرپەرشتیاری لیژنەی تاقیکردنەوەکان"></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >سالی خوێندن</ion-label>
                  <ion-input type="Text"[(ngModel)]="semster" placeholder="سالی خوێندن"></ion-input>
                </ion-item>

                <ion-item style="height: 80px;background-color: #eeeeee;">
                  <button ion-button large style="float:left;width: 110px;background-color:#D08A32;height: 45px" (click)="add_semster()">زیادکردن</button>
                </ion-item>
              </ion-list>
            </ion-card>
          </ion-col>
</ion-row>

   
     <ion-row>
          
             <!-- table view popular information -->
            

              <table style="width:100%;" class="blueTable"> 
                <thead>
                <tr style="height: 40px">
                 <th align-content-start>راگری کۆلێژ</th>

                 <th align-content-start>سەرۆکی تۆمارگا</th>

                 <th align-content-start>سەرۆکی ل. ت</th>

                 <th align-content-start>سەرپەرشتیاری ل. ت</th>

                 <th align-content-start>سالی خوێندن</th>

                 <th align-content-start>سرینەوە</th>
               </tr></thead>

               <tr *ngFor="let sem of global.semster;let i=index" style="height: 35px">

                 <td align-content-start>{{sem.dean}}</td>

                 <td align-content-start>{{sem.reg_liable}}</td>

                 <td align-content-start>{{sem.head_exam}}</td>

                 <td align-content-start>{{sem.supervisor_exam}}</td>

                 <td align-content-start>{{sem.year}}</td>

                 <td align-content-start>
                  <button class="btn" (click)="delete_sem(i)">سرینەوە</button></td>
               </tr>
             </table>
           </ion-row>
       
     </ion-grid>
</ion-content>

