page-report {
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  text-align:center;
}
table.blueTable tbody td {
text-align:center;
  font-size: 13px;
}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4 !important;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
.myview{
   background-color:#eeeeee;
}
ion-grid{
   direction: rtl;
}
//table page report
.select_card_report{
   background-color:#D08A32;
   font-weight:bold;
   font-size:20px;
   color:white;
   direction: rtl;
   padding-right:25px;
   margin-top:25%;
   height: 50px;
}
.table_view_report{
   direction: rtl; 
   color:#201C18;
   margin-top:3%;
}
.btn{
   border-color: transparent;
   background: none;
   box-shadow: none;
   font-size: 20px;
   color:gray;
   font-weight: bold;
 }
ion-row{
   text-align:center;
   font-weight:bold;
   font-size:20px;
}
.col_style{
   height: 50px;
   padding-top:1%;
}
//end table page certification

//button add
.add{
   margin-top:35%;
   font-weight: bold;
   background: #D08A32;
   height:50px;
}
.add:hover{
   background: #D08A32 !important;
}
//end button add

//card page report
ion-searchbar{
}
ion-searchbar{        
  .searchbar-input-container{            
    .searchbar-input{
        border-radius: 20px;
        background-color:#D9D9D9;
                    }
                            }
             }
ion-card{
   direction: rtl;
}
.title_card_report{
   padding-right: 70px;
   color: white;
   text-align:center;
   height:90%;
   font-weight: bold;
}
ion-item{
   font-weight: bold;
   font-size: 40px;
   height:70px;
}
.add_rol{
   color:#6A6AFF;
}
ion-input{
   margin-right:20px;
}
.select_card{
   background-color:white;
   position:fixed;
   top:15px;
   right:120px;
   font-weight:bold;
   font-size:20px;
   height:40px;
   color:#4A484A;
   float:right;
   direction: rtl;
   padding-right:110px;
}
ion-label{
   text-align:center;
   font-weight:bold;
   font-size:20px; 
   color:black;
}
.area{
   right:10px;
   border: 1px solid gray;
   border-radius: 0;
   background: transparent;
}
//end card page report

//table view student
.table_view_student{
   direction: rtl;
   color: #201C18;
   margin-top:15%;
}
}
