<ion-header>

  <ion-navbar color="primary">
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-center><span style="font-size: 25px">ڕاپۆرت و ڕاستی و دروستی</span>

        <button ion-button style="float:right;width:300px;font-weight: bold;font-size: 20px" round round color="light">
        {{global.currentUser.f_name}}   {{global.currentUser.m_name}}   {{global.currentUser.s_name}}
      </button>

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="logout()">دەرچوون</button>

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()">
      <ion-icon name="help"></ion-icon>
    </button>

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="settings()">
      <ion-icon name="cog"></ion-icon>
    </button>

    </ion-title>

  </ion-navbar>

</ion-header>
<!-- content -->
<ion-content padding class="myview">
  <ion-grid style="width: 100%;margin-right: -2%">
    <ion-row>
      <ion-row style="width: 100%;">
        <ion-col col-md-2>
          <!-- table view report -->
            <div style="margin-top: -9%;">
             <label class ="item item-input item-select item-positive">
        
               <select class="select_card_report" title="جۆری وەرگرتن">
                <option>جۆری ڕاپۆرت</option>
                <option>پشتگیری</option>
                <option>راستی و دروستی</option>
              </select>

             </label>
            </div>
        </ion-col>
      
        <ion-col col-md-9>
          <table width="100%" style="margin-top: 3.7%;" class="blueTable">
            <thead>
          <tr style="border-bottom:1px solid #808080;height: 50px">
          <th align-content-start  style="" class="">
          كۆد
          </th>

          <th align-content-start  style="" class="">
          ناونیشان
          </th>

          <th align-content-start  style="" class="">
          ناوه‌رۆك
          </th>

          <th align-content-start  style="" class="">
          ئاراسته‌كراو
          </th>

          <th align-content-start  col-12 col-md-2 style="" class="">وێنه‌یه‌ك بۆ
          </th>
          </tr></thead>
          <tr *ngFor="let rep  of reports;let i=index" (click)="selectReport(i)">
            <td>
              {{rep.code}}
            </td>
            <td>
              {{rep.title}}
            </td>
            <td>
              {{rep.body}}
            </td>
            <td>
              {{rep.direct}}
            </td>
            <td>
              {{rep.follow}}
            </td>
          </tr>

        </table>
      </ion-col>

      <ion-col col-md-1>
          <!-- button add -->
          <button ion-button icon-end item-start class="add" (click)="addnewreport()">
          ز یا د کر د ن
          <ion-icon ios="ios-add" md="md-add"></ion-icon>
          </button>
      </ion-col>
      </ion-row>
      <ion-row style="width:100%;">
        <ion-searchbar placeholder="                                                                                                                                                             گەران بۆ ناوی خوێندکار " >

          </ion-searchbar>
      </ion-row>
      <ion-row style="width:100%;" *ngIf="newreport || usereport">
        <ion-col col-md-8>
          <ion-row>
            <ion-label>Code</ion-label>
            <ion-input [(ngModel)]="info.code" style="width:100%;" placeholder="Code"></ion-input>
          </ion-row>
          <ion-row>
            <ion-label>Title</ion-label>
            <ion-input [(ngModel)]="info.title" style="width:100%;" placeholder="title"></ion-input>
          </ion-row>
          <ion-row>
            <ion-label>Direct</ion-label>
            <ion-input [(ngModel)]="info.direct" style="width:100%;" placeholder="Direct"></ion-input>
          </ion-row>
          <ion-row>
            <ion-label>Body</ion-label>
            <ion-textarea [(ngModel)]="info.body" rows="6" style="width:100%;border:1px solid grey;" placeholder="Body"></ion-textarea>
          </ion-row>
          <ion-row>
            <ion-label>Follow</ion-label>
            <ion-textarea [(ngModel)]="info.follow" rows="6" style="width:100%;border:1px solid grey;" placeholder="follow"></ion-textarea>
          </ion-row>
          <ion-row>
           <button ion-button full (click)="insertnewreport()" *ngIf="newreport">Add</button>
           <button ion-button full (click)="viewReport()" *ngIf="usereport">Preview</button>
          </ion-row>
        </ion-col>
        <ion-col col-md-4>
          <table style="width:100%;margin-top: 10%; border:1px solid;" *ngIf="selectedStudent">
   
    <tr >
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.code}}
      </td>
    </tr>
    <tr>
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.fname}} {{selectedStudent.mname}} {{selectedStudent.sname}} {{selectedStudent.lname}}
      </td>
    </tr>
    <tr>
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.email}}
      </td>
    </tr>
    <tr>
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.phone}}
      </td>
    </tr>
    <tr>
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.gender}}
      </td>
    </tr>
    <tr>
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.selected_dep}}
      </td>
    </tr>
    <tr>
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.selected_resident}}
      </td>
    </tr>
    </table>
        </ion-col>
      </ion-row>

      <ion-row style="width: 100%">
        <ion-col col-md-3> 
          <!-- card page report -->
          <!-- <ion-searchbar placeholder="               گەران بۆ ناوی خوێندکار " >

          </ion-searchbar> -->
          <ion-card style="border-radius: 20px;background-color: #eeeeee;margin-right:12%;" *ngIf="hidee">
           <ion-list style="width:100%;">

            <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee">
               <ion-label >کۆدی راپۆرت</ion-label>
               <ion-input type="Text" [(ngModel)]="code"></ion-input>
            </ion-item>

            <ion-item class="card" no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee">
              <label class="rol" style="float: right;color: #9A9A9A;">بابەت</label>
                <div class="list">
                    <label class = "item item-input item-select item-positive">
                       <select class="select_card" style="width: 60%;background-color: #eeeeee" [(ngModel)]="select_report">
                          <option value="pshgiri">پشتگیری</option>
                          <option value="rasty w drwsty">راستی و دروستی</option>
                       </select>
                    </label>
                </div>
            </ion-item>
            <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee">
               <ion-label >لایەنی مەبەست</ion-label>
               <ion-input type="Text"[(ngModel)]="direct"></ion-input>
            </ion-item>
            <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee">
               <ion-label >بەروار</ion-label>
               <ion-input type="Text" [(ngModel)]="date"></ion-input>
            </ion-item>

            <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee">
               <ion-label style="float: right;color: #9A9A9A;padding-left: 20px">ناوەرۆک</ion-label>
               <ion-textarea rows="3" maxLength="500" class="area" style="width: 15%" [(ngModel)]="body"></ion-textarea>
            </ion-item>
            <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee">
               <ion-label >بۆ</ion-label>
               <ion-input type="Text"[(ngModel)]="follow"></ion-input>
            </ion-item>

            <ion-item style="background-color: #eeeeee">
               <button ion-button large style="float:left;width: 100px;height: 45px;background-color:#D08A32;" (click)="create_rep()">دروستکردن</button>
            </ion-item>
          </ion-list>
        </ion-card>
       </ion-col>

       <ion-col col-md-1></ion-col>
       <ion-col col-md-7> 
          <!-- table view  student -->
          <table *ngIf="hidee" width="100%" style="margin-top: 12%">
          <tr style="border-bottom:1px solid #808080;height: 50px">
            <th align-content-start col-12 col-md-1 style="background-color:#C2C2C2;" class="col_style">
           کۆد
            </th>

            <th align-content-start col-12 col-md-3 style="background-color:#D9D9D9;" class="col_style">ناوی خوێندکار
            </th>

            <th align-content-start  style="background-color:#C2C2C2;" class="col_style">
            رەگەز
            </th>

            <th align-content-start  style="background-color:#D9D9D9;" class="col_style">
            ژمارەی مۆبایل
            </th>

            <th align-content-start  style="background-color:#C2C2C2;" class="col_style">
            ماوەی خوێندن
            </th>

            <th align-content-start  style="background-color:#D9D9D9;" class="col_style">
            نیشتەجێ بوون
            </th>

           <th align-content-start  style="background-color:#C2C2C2;" class="col_style">
           ناوی بەش   
           </th>

          </tr>
        </table>
       </ion-col>

       <ion-col col-md-1></ion-col>
       
    </ion-row>
  </ion-row>
 </ion-grid>
</ion-content>


