page-home-examcommitee {
.myview{
   background-color:#eeeeee;
}
ion-grid{
   direction: rtl;
}
//action of adminstrate
.action_admin{
   margin-right:-10%;
   margin-top:-15%;
}
.add_department{
   background:#488AFF;
}
.add_department_info{
   background:#488AFF;
   font-weight:bold;
   font-size:27px;
   color:white;
}
.select_style_action{
   background:#0E6AC6;
   font-weight:bold;
   font-size:27px;
   color:white;
   direction: rtl;
   padding-left: 50px;
   padding-right: 60px;
   border-style: hidden;
}
//end action of adminstrate

//table page home
.see_emp{

 }
ion-row{
   color: #201C18;
   text-align:center;
   font-size:20px;
}
.col{
   padding-top: 1%;
   font-weight:bold;
}
.coums{
   height: 47px;
}
//end table page home

//add and roles button
.add,.roles{
   background: #D08A32;
   font-weight: bold;
   width:150px;
   height: 50px;
   margin-top: 20%;
   margin-right: 40px;
}
.add,.roles:hover{
   background: #D08A32 !important;
}
//end add and roles button

//card to add employee
ion-card{
   direction: rtl;
}
.card_title_home{
   color: white;
   padding-right: 70px;
   height:90%;
   font-weight:bold;
}
.gender{
   float: right;
   padding-right: 20px;
   padding-top: 20px;
   color: gray;
}
.rol{
   position:absolute;
   float: right;
   color: gray;
   padding-bottom: 40px;
   padding-right: 20px;
   text-align: center;
}
ion-radio{
   float: right;
   padding-top: 20px;
   padding-right: 200px;
}
.cols{
   margin-left:250px;
}
.select_card_roles{
   position:fixed;
   top:15px;
   right:350px;
   font-weight:bold;
   font-size:15px;
   height:45px;
   color:gray;
   text-align:center;
   width:100%;
   padding-right:20px;
   background-color: #eeeeee;
   border: 1px solid gray;
}
ion-input{
   margin-right:20px;
}
ion-label{
   text-align:center;
   font-weight:bold;
   font-size:20px;	
   color:#4A484A;
}
ion-item{
	 height:55px;
   background-color: #eeeeee
}
.button1{
  font-weight:bold;
  font-size:18px;
  color:#808080;
  background-color:#F4F4F4;
 }
.button2{
  font-weight:bold;
  font-size:18px;
  color:#808080;
  background-color:#F4F4F4;
 }

 table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  text-align:center;

}
table.blueTable tbody td {
text-align:center;
  font-size: 20px;

}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4 !important;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

//end card to add employee
}
