<!-- content -->
<ion-header>

  <ion-navbar color="primary" >
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-center><span style="font-size: 25px">زانکۆی سلێمانی</span>
     
    <button ion-button style="float:right;width:300px;font-weight: bold;font-size: 20px" round round color="light">
        {{global.currentUser.f_name}}   {{global.currentUser.m_name}}   {{global.currentUser.s_name}}
    </button>

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="logout()">دەرچوون</button>

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="settings()">
      <ion-icon name="cog"></ion-icon>
    </button>
    </ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding class="">
    <!-- action adminstrate-->
    <ion-grid style="width: 100%;margin-right: 0px;">
      <ion-row style="width: 100%;">
        <ion-col  col-md-2>
        
         <div class="action_admin">
            <ion-list>

              <ion-item  class="add_department" *ngIf="global.permissions && global.permissions.add_sem && global.permissions.add_sem.select">
                <button class="add_department_info" (click)="popular_examcommittee()" >زانیاری گشتی</button>
              </ion-item>
     
              <ion-item  class="add_department" *ngIf="global.permissions && global.permissions.add_department && global.permissions.add_department.select">
                <button class="add_department_info" (click)="add_department()">زیادکردنی بەش</button>
              </ion-item>

              <ion-item  class="add_department" *ngIf="global.permissions && global.permissions.add_teacher && global.permissions.add_teacher.select">
                <button class="add_department_info" (click)="add_teacher()">زیادکردنی مامۆستا</button>
              </ion-item>

              <ion-item  class="add_department" *ngIf="global.permissions && global.permissions.add_subject && global.permissions.add_subject.select">
                <button class="add_department_info" (click)="add_subject()">زیادکردنی وانە</button>
              </ion-item>

            </ion-list>  
          </div>
          </ion-col>
        <ion-col col-md-9 *ngIf="global.permissions && global.permissions.add_emp && global.permissions.add_emp.select">
      <!-- <ion-row style="width: 100%;"> -->
        <div>
         <span style="color: #808080">زیاد كردنی به‌كارهێنه‌ر</span>
          <ion-list style="width: 100%">

               <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
                 <ion-label style="color:gray;">ناو</ion-label>
                 <ion-input type="Username" [(ngModel)]="firstN" placeholder="ناوی  ئەندام"></ion-input>
               </ion-item>
              

               <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
                 <ion-label style="color:gray;">ناوی باوک</ion-label>
                 <ion-input type="Username" [(ngModel)]="midN" placeholder="ناوی باوک"></ion-input>
               </ion-item>
               
  
               <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
                 <ion-label style="color:gray;">ناوی باپیر</ion-label>
                 <ion-input type="Username"[(ngModel)]="thirdN" placeholder="ناوی باپیر"></ion-input>
               </ion-item>
               

               <ion-row radio-group style=" "[(ngModel)]="gender"style="background-color: #eeeeee;border-bottom: 1px solid #DCDCDC">
                    <label class="gender">رەگەز</label>
                  
                       <ion-radio value="male"></ion-radio>
                       <ion-label style="color: gray">نێر</ion-label>
                    
                       <ion-radio value="female"></ion-radio>
                       <ion-label style="color: gray">مێ</ion-label>
               </ion-row>

               <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
                 <ion-label style="color:gray;">ژمارەی مۆبایل</ion-label>
                 <ion-input type="tel"[(ngModel)]="phoneN" placeholder="ژمارەی موبایل"></ion-input>
               </ion-item>

               <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
                 <ion-label style="color:gray;">ناونیشان</ion-label>
                 <ion-input type="Username" [(ngModel)]="address"></ion-input>
               </ion-item>
              

               <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
                 <ion-label style="color:gray;">ئیمێل</ion-label>
                 <ion-input type="Email" [(ngModel)]="email"placeholder="ئیمەیڵ"></ion-input>
               </ion-item>
              

               <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
                 <ion-label style="color:gray;"> ناوی بەکارهێنەر</ion-label>
                 <ion-input type="Username" [(ngModel)]="username" placeholder="ناوی بەکارهێنەر"></ion-input>
               </ion-item>
               

               <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
                 <ion-label style="color:gray;">وشەی تێپەڕ</ion-label>
                 <ion-input type="Username" [(ngModel)]="pass" placeholder="وشەی تێپەڕ"></ion-input>
               </ion-item>
              

               <ion-item class="card" style="height: 70px;;background-color: #eeeeee">
                 <ion-label class="rol" style="color:gray;">پلە</ion-label>
                  
                      <ion-select [(ngModel)]="selected_role" class="select_card_roles" placeholder="پلە">
                           <ion-option *ngFor="let role of global.role_name;let i=index" value="{{role.roleName}}">{{role.roleName}}</ion-option>
                        </ion-select>
                 
                 
               </ion-item>
               
               <ion-item class="card" style="height: 70px;background-color: #eeeeee" okText="Okay" cancelText="Dismiss">
                 <ion-label class="rol" style="color:gray;">بەش</ion-label>
                      <ion-select [(ngModel)]="selected_dep"  class="select_card_roles" placeholder="بەش">
                        <ion-option *ngFor="let dep of global.dep_name;let i=index" value="{{dep.name}}">{{dep.name}}</ion-option>
                      </ion-select>
               </ion-item>
              

                <ion-item  style="height: 80px;background-color: #eeeeee">
                   <button ion-button icon-end large style="float:left;margin-bottom: 5px;width: 110px;background-color:#D08A32;color: white;height: 45px" (click)="add_member()">
                   زیادکردن
                   <ion-icon ios="ios-add" md="md-add"></ion-icon>
                   </button>

                    <button ion-button icon-end large style="float:left;margin-bottom: 5px;width: 120px;background-color:#D08A32;color: white;height: 45px" (click)="permission()">
                  پلە
                   <ion-icon ios="ios-people" md="md-people"></ion-icon>
                   </button>

                   <button ion-button icon-end large style="float:left;margin-bottom: 5px;width: 110px;background-color:#D08A32;color: white;height: 45px" *ngIf="show_updateBtn=='true'" (click)="updateMember()">
                   نوێکردنەوە
                   </button>
                 </ion-item>
               </ion-list>
             </div>

        </ion-col>
   
       </ion-row>
  
         <ion-row style="width: 100%" class="" *ngIf="global.permissions && global.permissions.show_emp_info && global.permissions.show_emp_info.select">

           <table style="width:100%;" class="blueTable">
            <thead>
            <tr style="height: 40px">
             <th align-content-start >
            ناو
             </th>
             <th align-content-start >
            ناوی به‌كار هێنه‌ر
             </th>

             <th align-content-star >  
            رەگەز
             </th>

             <th align-content-start >  
            ژ..مۆبایل
             </th>

             <th align-content-start  >
            ئیمێڵ
             </th>

             <th align-content-start > 
           پلە
             </th>

             <th align-content-start>
               گۆڕین
             </th>

             <th align-content-start > 
             سرینەوە
             </th>

             <th align-content-start > 
            رێگەپێدان
             </th>
           </tr></thead>
        

           <tr *ngFor="let person of global.persons;let i=index" style="height: 35px"> 
             <td class="co1"> {{person.name}}</td>
             <td class="co1"> {{person.username}}</td>

             <td align-content-start>{{person.gender}}</td>

             <td align-content-start>{{person.phone}}</td>

             <td align-content-start>{{person.email}}</td>

             <td align-content-start>{{person.role_name}}</td>

             <td align-content-start style="font-weight: 500;" >
               <button class="button1" (click)="get_info_to_update(i)">
                گۆڕین
               </button>
             </td>

             <td align-content-start style="font-weight: 500;" > 
              <button class="button1" (click)="delete_members(i)">سرینەوە</button>
             </td>

             <td align-content-start style="font-weight: 500;"> 
              <button (click)="permission(i)" class="button2">رێگەپێدان</button>
             </td>
           </tr>
         </table>
           <!-- </ion-col> -->
         </ion-row>
    </ion-grid>
</ion-content>
