<!--
  Generated template for the SubjectStudentGradePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-center> {{sub}} , {{sem}} , {{round}}</ion-title>
    <button ion-button round color="light" style=" float:right;font-weight: bold; max-width:35px; max-height:35px;" (click)="showinfo()">
      <ion-icon name="help"></ion-icon>
    </button>
    <!-- <button ion-button style="float:right;">Logout</button> -->
  </ion-navbar>

</ion-header>

<ion-content padding>
	<button ion-button (click)="saveGrades()" *ngIf="!semlock"> Save grades</button>
	<button ion-button (click)="dismiss()">Cancel</button>
	<button ion-button (click)="export()">Export</button>
<button ion-button (click)="printStudent()">
				<ion-icon name="clipboard" padding></ion-icon> Print
			</button><table style="width:100%;table-layout: fixed;">
	<tr style="background-color: #4f9c45;border-radius:10px;height:40px;">
		<th style="text-align: center;" colspan="3">  تێبینی <button ion-button round (click)="saveNotes()" >save notes</button>
		</th>
		<th style="text-align: center;">  ئه‌نجام %100
		</th>
		<th style="text-align: center;">  بریار
		</th>
		<th style="text-align: center;width:100px;">   خولی دووه‌م %{{global.settings.final}}
		</th>
		<th style="text-align: center;width:100px;">   خولی یه‌كه‌م %{{global.settings.final}}
		<th style="text-align: center;width:100px;">   تێكرا %{{global.settings.pre_final}}
		</th>
		<th style="text-align: center;width:200px;">   ناو
		</th>
		<th style="text-align: center;min-width:200px;">   ژ
		</th>

	</tr>
	<ng-container *ngFor="let stu of students;let i =index" >
	<tr *ngIf="(grade=='corse2' && (stu.corse1+stu.final+stu.curve)<global.settings.passing_limit) || grade!='corse2' " style="border-bottom:1px solid grey;height:35px;">
		<!-- <td style="text-align: center;">{{stu.corse2}}</td> -->
		<td style="text-align: center;" colspan="3">
			<ion-input  type="text" style="text-align: right;" [(ngModel)]="stu.note" placeholder="Note" [ngClass]="{'redbg':stu.note}" ></ion-input>

		</td>
		<td style="text-align: center;" >{{stu.result}}
		</td>
		<td style="text-align: center;" >{{stu.curve}}
		</td>
		<td style="text-align: center;width:100px;">
			<ion-input (ionChange)="gradeChanged(i)" type="number" style="text-align: center;width:100px;" [(ngModel)]="stu.corse2" placeholder="Second round" *ngIf="stu.offer_type!='crossing'" disabled="{{!global.permissions.corse2_degree.insert || !global.permissions.corse2_degree.select || semlock || grade!='corse2'}}" tabindex="{{i+1}}"></ion-input>
			<ion-input (ionChange)="gradeChanged(i)" type="number" style="text-align: center;width:100px;" [(ngModel)]="stu.crossing2" placeholder="Second round Crossing" *ngIf="stu.offer_type=='crossing'" disabled="{{!global.permissions.corse2_degree.insert || !global.permissions.corse2_degree.select || semlock || grade!='corse2'}}" tabindex="{{i+1}}"></ion-input>
		</td>
		<!-- <td style="text-align: center;">{{stu.final}}</td> -->
		<td style="text-align: center;">
			<ion-input (ionChange)="gradeChanged(i)" type="number" style="text-align: center;" [(ngModel)]="stu.final" placeholder="First round" *ngIf="stu.offer_type!='crossing'" disabled="{{!global.permissions.final_degree.insert || !global.permissions.final_degree.select || semlock || grade!='final' }}" tabindex="{{i+1}}"></ion-input>
			<ion-input (ionChange)="gradeChanged(i)" type="number" style="text-align: center;" [(ngModel)]="stu.crossingfinal" placeholder="First round Oboor" *ngIf="stu.offer_type=='crossing'" disabled="{{!global.permissions.final_degree.insert || !global.permissions.final_degree.select || semlock || grade!='final' }}" tabindex="{{i+1}}"></ion-input>
		</td>
		<!-- <td style="text-align: center;">{{stu.corse1}}</td> -->
		<td style="text-align: center;">
			<ion-input (ionChange)="gradeChanged(i)" type="number" style="text-align: center;" [(ngModel)]="stu.corse1" placeholder="total 40%" *ngIf="stu.offer_type!='crossing'" disabled="{{!global.permissions.corse1_degree.insert || !global.permissions.corse1_degree.select || semlock || grade!='corse1'}}" tabindex="{{i+1}}"></ion-input>
			<ion-input (ionChange)="gradeChanged(i)" type="number" style="text-align: center;" [(ngModel)]="stu.crossing" placeholder="total 40% Oboor" *ngIf="stu.offer_type=='crossing'" disabled="{{!global.permissions.corse1_degree.insert || !global.permissions.corse1_degree.select || semlock || grade!='corse1'}}" tabindex="{{i+1}}"></ion-input>
		</td>

		<td style="text-align: center;text-transform: capitalize;width: 200px;">{{stu.f_name}} {{stu.m_name}} {{stu.s_name}} {{stu.l_name}}</td>
		<td text-center>{{i+1}}</td>
	</tr>
</ng-container>
</table>

</ion-content>
