<ion-header>

  <ion-navbar color="primary">
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-right><span style="margin-right: 5%;font-size: 25px">تاقیکردنەوەکانی کۆتای سال</span>

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()"><ion-icon name="help"></ion-icon>
    </button>
    <!-- <button ion-button style="float:right;">Logout</button> -->
    </ion-title>
  </ion-navbar>

</ion-header>
<!-- content -->
<ion-content padding class="myview">
    <!-- action adminstrate-->
    <ion-grid style="width: 100%;margin-right: -30px;">
      <ion-row>

        <ion-col  col-md-1></ion-col>
        <ion-col  col-md-10>
   	    <ion-row>
   	    <div style="margin-top: 1%;width: 100%">
   	      <ion-list>
            <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
              <ion-label style="color:#999999;width: 100%">ناوی خوێندکار</ion-label>  <ion-label>{{student_info.name}}</ion-label>
              <ion-label style="color:#999999">قۆناغ</ion-label>  <ion-label>{{student_info.stage_txtEn}}</ion-label>
            </ion-item>
          </ion-list>
        </div>
        </ion-row>

        <ion-row>
        <table style="width:100%;" class="blueTable">
        <thead>
         <tr style="height: 40px">
           <th text-center> 
           ناوی وانە
           </th>

           <th text-center>
         کۆرسی یەکەم
           </th>

           <th text-center> 
         تاقی
           <th text-center>
             ئەنجامی خولی یەکەم</th>

           <th text-center>   
          ئاست
           </th>

           <th text-center> 
          حالەت
           </th>
            <th text-center> 
          جۆری وانه‌
           </th>
         </tr></thead>

         <tr *ngFor="let stu_grade of student_grade; let j=index" style="height: 35px">
           <td text-center> 
           {{stu_grade.sub_name}}
           </td>

           <td *ngIf="stu_grade.offer_type!='crossing'" text-center>
            {{stu_grade.corse1}}
           </td>
           <td  *ngIf="stu_grade.offer_type=='crossing'" text-center>
            {{stu_grade.crossing}}
           </td>

           <td text-center> 
           <ion-input text-center type="Username" style="border:1px solid gray;height: 45px;text-align:center;"[(ngModel)]="stu_grade.final" *ngIf="stu_grade.offer_type!='crossing'" tabindex="{{j+1}}" disabled="{{locked}}">  </ion-input>

           <ion-input text-center type="Username" style="border:1px solid gray;height: 45px;text-align:center;"[(ngModel)]="stu_grade.crossingfinal" *ngIf="stu_grade.offer_type=='crossing'" tabindex="{{j+1}}" disabled="{{locked}}">  </ion-input>
           </td>

           <td text-center *ngIf="stu_grade.offer_type!='crossing'">
           {{stu_grade.g_final}}
           </td>
           <td text-center *ngIf="stu_grade.offer_type=='crossing'">
           {{stu_grade.g_crossingfinal}}
           </td>

           <td text-center>{{stu_grade.level}}
           </td>

           <td text-center> 
            {{stu_grade.state}}
            </td>
           <td text-center> 
          {{stu_grade.offer_type}}
           </td>
         </tr>
       </table>

         <ion-item  style="height: 80px;">
            <button ion-button style="float:left;margin-bottom: 5px;width: 110px;height:40px;font-size:20px;background-color:#D08A32" (click)="grade_final()" *ngIf="global.permissions && global.permissions.final_degree.insert && !locked">زیادکردن

            </button>
          </ion-item>
       </ion-row>
       </ion-col>
       <!-- <ion-col  col-md-1></ion-col> -->
     </ion-row>
   </ion-grid>
</ion-content>


