page-finalcourse {
.myview{
    background-color:#FFFFFF;
}
ion-grid{
    direction: rtl;
}
ion-list{
   direction: rtl;
   margin-top:80%;
}
ion-label{
   text-align:center;
   font-weight:bold;
   font-size:20px;	
   color:#4A484A;
   margin-left:100%;
}
th,td{
  margin-top: 3%;
  height:60px;
}
ion-item{
	 height:55px;
   background-color: #eeeeee;
}
ion-row{
   color: #201C18;
   text-align:center;
   font-size:20px;
}
.see_emp{
   margin-top: 1%;
}
.col{
   height: 50px;
   padding-top: 1%;
}
 table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  text-align:center;

}
table.blueTable tbody td {
text-align:center;
  font-size: 20px;

}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4 !important;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}
}
