<ion-header>

  <ion-navbar color="primary">
  
   <ion-title text-right><span style="margin-right: 5%;font-size: 25px">زیادکردنی مامۆستا</span>
    
     <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()"><ion-icon name="help"></ion-icon>
    </button>

    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding >
    <!-- action adminstrate-->
    <ion-grid style="width: 100%;margin-right: -30px;height:100%;">
      <ion-row style="height:100%;">
        <ion-col  col-md-2>
        </ion-col>
        <!--input page add teacher -->
        <ion-col  col-md-9>
   	          <span style="color: #808080;margin-bottom: 50%">زیادکردنی مامۆستا</span>

              <ion-row no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee;margin-top: 2%;border-bottom: 1px solid #DEDEDE">
                <ion-label style="margin-right: -25%;color: #808080">ناوی  مامۆستا</ion-label>
                <ion-input type="Username" [(ngModel)]="firstN" placeholder="ناوی مامۆستا"></ion-input>
              </ion-row>


              <ion-row no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee;border-bottom: 1px solid #DEDEDE;">
                <ion-label style="margin-right: -26%;color: #808080">ناوی باوک</ion-label>
                  <ion-input type="Username" [(ngModel)]="midN" placeholder="ناوی باوک"></ion-input>
              </ion-row>


              <ion-row no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee;border-bottom: 1px solid #DEDEDE">
                <ion-label style="margin-right: -26%;color: #808080">ناوی باپیر</ion-label>
                  <ion-input type="Username" [(ngModel)]="thirdN" placeholder="ناوی باپیر"></ion-input>
              </ion-row>

              <ion-item class="card" style="height: 70px;background-color: #eeeeee;border-bottom: 1px solid #DEDEDE">
                <ion-label style="margin-right: -26%;color: #808080">نازناوی زانستی</ion-label>
                      <ion-select class="select_card_roles" placeholder="نازناوی زانستی" [(ngModel)]="acadimic_title">
                        <ion-option value="profisor">پڕۆفیسۆر</ion-option>
                        <ion-option value="profisory yaridadar">پرۆفیسۆری یاریدەدەر</ion-option>
                        <ion-option value="mamosta">مامۆستا</ion-option>
                        <ion-option value="mamostay yarydadar">مامۆستای یاریدەدەر</ion-option>
                      </ion-select>
              </ion-item>


              <ion-row radio-group [(ngModel)]="gender" style="height: 70px;border-bottom: 1px solid #DBDBDB;background-color: #eeeeee;">
            
                    <label class="gender">رەگەز</label>
                      <ion-col class="cols" style="margin-right: 10%">
                        <ion-radio value="male"></ion-radio>
                        <ion-label style="color: #808080;margin-left: 70%">نێر</ion-label>
                      </ion-col>

                      <ion-col class="cols">
                        <ion-radio value="female" ></ion-radio>
                        <ion-label style="color: #808080;margin-left: 70%">مێ</ion-label>
                      </ion-col>
              </ion-row>

              <ion-row no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee;border-bottom: 1px solid #DEDEDE;">
                <ion-label style="margin-right: -24%;color: #808080">ژمارەی مۆبایل</ion-label>
                  <ion-input type="Username" [(ngModel)]="phoneN" placeholder="ژمارەی مۆبایل"></ion-input>
              </ion-row>

              <ion-row no-line style="padding-right: 10px;height: 70px;background-color: #eeeeee;border-bottom: 1px solid #DEDEDE;">
                <ion-label style="margin-right: -28%;color: #808080">ئیمێڵ</ion-label>
                  <ion-input type="Username" [(ngModel)]="email" placeholder="ئیمێڵ"></ion-input>
              </ion-row>

              <ion-row no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee;border-bottom: 1px solid #DEDEDE;">
                <ion-label style="margin-right: -27%;color: #808080">ناونیشان </ion-label>
                  <ion-input type="Username" [(ngModel)]="address" placeholder="ناونیشان"></ion-input>
              </ion-row>

              <ion-item class="" style="height: 70px;background-color: #eeeeee;">
                <ion-label style="margin-right: -29%;color: #808080">ناوی بەش</ion-label>
                      <ion-select [(ngModel)]="selected_dep"  class="select_card_roles" placeholder="بەش" (ionChange)="getTeachers()">
                        <ion-option *ngFor="let dep of global.dep_name;let i=index" value="{{dep.name}}">{{dep.name}}</ion-option>
                      </ion-select>
              </ion-item>
              <ion-row  style="height: 80px;background-color: #eeeeee;">

                <button ion-button large style="margin-top:2%;width: 100px;background-color:#D08A32;margin-right: 87%;height: 40px" (click)="add_teacher()">زیادکردن
                </button>

                <button ion-button large style="margin-top:2%;width: 100px;background-color:#D08A32;margin-right: 87%;height: 40px" *ngIf="showUpdateBtn=='true'" (click)="update_teacher()">گۆڕین
                </button>
            </ion-row>
            <br>
     <ion-row>
       <table style="width:100%;" class="blueTable">
        <thead>
            <tr style="height: 40px">
              <th align-content-start   >
             ناوی  مامۆستا      
              </th>

              <th align-content-start > 
              
             ڕەگەز     
              </th>

              <th align-content-start   >
            ژمارەی مۆبایل
             </th>

              <th align-content-start > 
            ناوی  بەش      
             </th>

              <th align-content-start    >
             نازناوی زانستی
              </th>

              <th align-content-start > 
            ئیمەیڵ
             </th>

             <th align-content-start    >
            ناونیشان 
             </th>

             <th align-content-start >
             گۆڕین
             </th>

             <th align-content-start >
             سڕینەوە
             </th>
           </tr></thead>
           <tr *ngFor="let teach of teacher;let i=index" style="height: 35px">
              <td align-content-start    >{{teach.name}}</td>
              
              <td align-content-start >{{teach.gender}}</td>

              <td align-content-start    >{{teach.phone}}</td>

              <td align-content-start >{{teach.address}}</td>

              <td align-content-start    >{{teach.acadimic_title}}</td>

              <td align-content-start >{{teach.email}}</td>

             <td align-content-start   >{{teach.address}}</td>

             <td align-content-start >
              
              <button class="button" class="button1" (click)="get_teacher_to_update(i)">گۆڕین </button>

             </td>

             <td align-content-start >

              <button class="button" class="button1" (click)="delete_teacher(i)">سڕینەوە </button>

             </td>
           </tr>
         </table>
     </ion-row>
     </ion-col>
   </ion-row>
   </ion-grid>
</ion-content>

