<!--
  Generated template for the OfferSubjectPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    
     <ion-title text-right><span style="margin-right: 5%;font-size: 25px">هەلبژاردنی وانە</span>
    

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()"><ion-icon name="help"></ion-icon>
    </button>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="direction: ltr">
<ion-grid style="direction: rtl">
  <ion-row >

  <ion-col>
    <ion-label style="font-weight: bold;font-size: 20px;color: #808080">سالی خوێندن</ion-label>
    <ion-select (ionChange)="onChange()" [(ngModel)]="selectedSem" style="border: 1px solid #808080;margin-right: 30%;padding-right:10%;font-weight: bold" placeholder="سالی خوێندن">
      <ion-option *ngFor="let sem of semesters ;let i=index">{{sem.year}}</ion-option>
    </ion-select>
  </ion-col>

  <ion-col>
    <ion-label style="font-weight: bold;font-size: 20px;color: #808080">بەش</ion-label>
    <ion-select  (ionChange)="onChange()" [(ngModel)]="selectedDep" style="border: 1px solid #808080;margin-right: 20%;padding-right:10%;font-weight: bold" placeholder="بەش">
      <ion-option *ngFor="let dep  of global.dep_name ;let j=index">{{dep.name}}</ion-option>
    </ion-select>
  </ion-col>

  <ion-col>
    <ion-label style="font-weight: bold;font-size: 20px;color: #808080">قۆناغ</ion-label>
    <ion-select (ionChange)="onChange()" [(ngModel)]="selectedStage" style="border: 1px solid #808080;margin-right: 20%;padding-right:10%;font-weight: bold" placeholder="قۆناغ">
      <ion-option *ngFor="let stage of stages ;let k=index">{{stage.stagetxtE}}</ion-option>
    </ion-select>
  </ion-col>
  <ion-col>
    <button ion-button *ngIf="SelectedSubjects && SelectedSubjects.length>0" (click)="OfferSubjects()" style="margin-right: 65%;margin-top:12%;font-weight: bold;width: 120px;background-color:#D08A32;color: white;height: 45px">Offer Subjects</button>
  </ion-col>
</ion-row>
<ion-row>
  <ion-card>
    <ion-card-header  style="font-size: 20px;font-weight: bold">
      هەلبژاردنی وانەکان
    </ion-card-header>

  <table style="width:100%" class="blueTable">
    <thead>
          <tr style="height: 40px">
           <th text-center>
          ناوی  وانە
           </th>     

           <th text-center>
          قۆنا غ
           </th>

           <th text-center>
          جۆری وانە
           </th>

           <th text-center>  
          یەکە
           </th>
           <th text-center>
            Edit
           </th>      
        </tr></thead>
         

         <tr *ngFor="let sub of semsubjects;let i=index" style="height: 35px">
           <td text-center>{{sub.sub_name}}</td>

           <td text-center >{{sub.stage}}</td>

           <td text-center>{{sub.sub_type}}</td>

           <td text-center>{{sub.unit}}</td>

          <!-- <td style="max-width: 50px !important;background-color:#D9D9D9;" item-center> -->
            <button ion-button style="width:100%; height: 100% !important;background-color: #D08A32;font-size: 20px;font-weight: bold;" (click)="deleteoffer(i)">
              سرینەوە
            </button>
          <!-- </td> -->
         </tr>
       </table>
   </ion-card>
  </ion-row>

<ion-row>
  <ion-card>
    <ion-card-header style="font-size: 20px;font-weight: bold">
       وانەکان
    </ion-card-header>
  <table style="width:100%" class="blueTable">
    <thead>
          <tr style="height: 40px">
           <th text-center>
          ناوی  وانە
           </th>

           <th text-center>
          قۆنا غ
           </th>

           <th text-center>
          جۆری وانە
           </th>

           <th text-center>  
          یەکە
           </th>
         </tr></thead>
         
         <tr *ngFor="let sub of subjects;let i=index" (click)="selectSubject(i)" [ngClass]="{'selected':SelectedSubjects.indexOf(i) > -1}">
           <td text-center>{{sub.sub_name}}</td>

           

           <td text-center>{{sub.stage}}</td>

           <td text-center>{{sub.sub_type}}</td>

           <td text-center>{{sub.unit}}</td>

          
         </tr>
       </table>
   </ion-card>
  </ion-row>
</ion-grid>
</ion-content>
