<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" >
 
    <ion-title text-right><span style="margin-right: 5%;font-size: 30px">زانیاری</span>
    </ion-title>
    <button ion-button round small (click)="dismiss()" color="danger">
    	<ion-icon name="close"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding style="text-align: right;">
 <span style="white-space: pre-line; text-align: right;">
  {{information[location]}}
 </span >
</ion-content>
