page-settings {
input{
	width:400px !important;
}
.webPage{
width:100%;height:100%;	
overflow:scroll;
}
ion-modal {

	position: absolute !important;
    width: 50% !important;
    height: 65% !important; 
    top: 10% !important;
    left: 5% !important;

}
}

