<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary" >
 
    <ion-title text-right><span style="margin-right: 5%;font-size: 30px">رێكخستنه‌كان</span>
    </ion-title>
    <button ion-button round color="light" style=" float:right;font-weight: bold; max-width:35px; max-height:35px;" (click)="showinfo()">
      <ion-icon name="help"></ion-icon>
    </button>
  </ion-navbar>

</ion-header>

<ion-content padding>
 <ion-grid>
  <ion-row>
    <button ion-button round>Save</button>
  </ion-row>
    <ion-row style="">
     
                  <label style="width:200px !important;padding:10px;line-height: 25px;">Oboor</label>
                  <input [(ngModel)]="global.settings.oboor" placeholder="Oboor" style="margin-top:0px !important;" />
                 
    </ion-row>
    <ion-row>
                  <label style="width:200px !important;padding:10px;line-height: 25px;">Passing Limit</label>
                  <input [(ngModel)]="global.settings.passing_limit" placeholder="Passing Limit" style="margin-top:0px !important;" />
    </ion-row>
    <ion-row>
                  <label style="width:200px !important;padding:10px;line-height: 25px;">Pre Final grade</label>
                  <input [(ngModel)]="global.settings.pre_final" placeholder="Pre Final Grade" style="margin-top:0px !important;" />
    </ion-row>
    <ion-row>
                  <label style="width:200px !important;padding:10px;line-height: 25px;"> Final grade</label>
                  <input [(ngModel)]="global.settings.final" placeholder="Final Grade" style="margin-top:0px !important;" />
    </ion-row>
    <!-- <ion-row>
                  <label style="width:200px !important;padding:10px;line-height: 25px;">Speciality</label>
                  <input [(ngModel)]="global_.reports.speciality" placeholder="Speciality" style="margin-top:0px !important;" />
                  <input style="max-width: 50px;" type="number" placeholder="Size" [(ngModel)]="global_.reports.spec_size" />
    </ion-row>
    <ion-row>
                  <label style="width:200px !important;padding:10px;line-height: 25px;">Address</label>
                  <input [(ngModel)]="global_.reports.Clinic_address" placeholder="Address" style="margin-top:0px !important;" />
    </ion-row>
    <ion-row>
                  <label style="width:200px !important;padding:10px;line-height: 25px;">Phone Number(s)</label>
                  <input [(ngModel)]="global_.reports.clinic_phones" placeholder="Phone Number(s)" style="margin-top:0px !important;" />
    </ion-row> -->
             
  <!-- </ion-row>
  <ion-row *ngFor="let cert of global_.reports.certificates;let i=index">
    <label style="width:100px !important;margin-top:0px !important;" text-center>{{i+1}}</label>
    <input style="margin-top:0px !important;padding:10px;width:100px !important;" placeholder="English Title" [(ngModel)]="cert.title" />
    <input style="margin-top:0px !important;padding:10px; width:400px;" placeholder="Description" [(ngModel)]="cert.name" />
    <button ion-button round style=" max-width:30px;max-height:30px !important;" color="danger" (click)="deleteCertificate(i)"><ion-icon name="close"></ion-icon></button>
  <input placeholder="Phone Number(s)" style="margin-top:0px !important;"/> 
  </ion-row>
  <ion-row >
    <label style="width:100px !important;padding:10px;line-height: 25px;color:green;font-weight: bold;">New</label>
    <input style="margin-top:0px !important;padding:10px;width:100px !important;" placeholder="Title" [(ngModel)]="title" />
    <input style="margin-top:0px !important;padding:10px; width:400px;" placeholder="Description" [(ngModel)]="name" />
    <button ion-button color="secondary"  style="" (click)="addCertificate()">Add</button>
   <input placeholder="Phone Number(s)" style="margin-top:0px !important;"/> 
  </ion-row>
  <button ion-button full *ngIf="edited" (click)="saveSettings()">Save</button>

      </ion-col>  

  
  <ion-col>
    <iframe class= 'webPage' name= "samplePage" [src]="url">
    </iframe>
  </ion-col>

  </ion-row> -->
</ion-grid>

</ion-content>
