::placeholder{
  text-align:left;
  font-size: 15px;
}page-add-department {
.myview{
    background-color:#ffffff;
}
ion-grid{
    direction: rtl;
}

//action of adminstrater
.action_admin{
    margin-top: 11%;
}
.add_department{
    background:#0E6AC6;
}
.add_department_info{
    background:#0E6AC6;
    font-weight:bold;
    font-size:27px;
    color:white;
}
.select_style_action{
    background:#0E6AC6;
    font-weight:bold;
    font-size:27px;
    color:white;
    direction: rtl;
    padding-left: 50px;
    padding-right: 60px;
    border-style: hidden;
}
//end action of adminstrate

.col{
    height: 50px;
    padding-top: 1%;
}
ion-input{
    margin-right:20px;
 }
ion-label{
    text-align:center;
    font-weight:bold;
    font-size:20px;	
    color:#4A484A;
}
ion-item{
	height:55px;
    background-color: #D08A32;
}
ion-list{
    direction: rtl;
    margin-top:80%;
}
.rol{
   position:absolute;
   float: right;
   color: gray;
   padding-bottom: 60px;
   padding-right: 5px;
   padding-top: 40px;
   text-align: center;
}
.select_card_roles{
   position:absolute;
   top:10px;
   left:300px;
   font-weight:bold;
   font-size:15px;
   height:44px;
   color:#4A484A;
   width:100%;
   padding-right:230px;
   background-color: #eeeeee;
   border: 1px solid gray;
}
.see_emp{
    margin-top: 3%;
 }
 ion-row{
    color: #201C18;
    text-align:center;
    font-size:20px;
}
.btn{
   border-color: transparent;
   background: none;
   box-shadow: none;
   font-size: 20px;
   color:#808080;
   font-weight: bold;
   background-color: #F4F4F4;
 }
 table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  text-align:center;

}
table.blueTable tbody td {
text-align:center;
  font-size: 20px;

}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4 !important;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}

}
