<!-- content -->
<ion-header>

  <ion-navbar color="primary" >
 
    <ion-title text-right><span style="margin-right: 5%;font-size: 25px">زیادکردنی بەش</span>
   

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()"><ion-icon name="help"></ion-icon>
    </button>

     </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="myview">
    <!-- action adminstrate-->
    <ion-grid style="width: 100%;margin-right: -30px;">
      <ion-row>
      

      <ion-col  col-md-2>
      </ion-col>

      <ion-col  col-md-9>
   	    <div style="margin-top:2%;width: 100%">
   	      <ion-list>
            <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee" *ngIf="global.permissions && global.permissions.add_department.insert">

              <ion-label>ناوی بەش</ion-label>
                <ion-input type="Username" [(ngModel)]="dep_name_k" placeholder="ناوی بەش"></ion-input>
            </ion-item>
   
            <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #F1F1F1;height: 70px;background-color: #eeeeee" *ngIf="global.permissions && global.permissions.add_department.insert">

             <ion-label >ناوی بەش بە ئینگلیزی</ion-label>
               <ion-input type="Username" [(ngModel)]="dep_name_e" placeholder="ناوی بەش بە ئینگلیزی"></ion-input>
            </ion-item>
   

            <ion-item  style="height: 80px;;background-color: #eeeeee;">
  	          <button ion-button large style="float:left;margin-bottom: 5px;width: 100px;
              background-color:#D08A32;height: 40px" (click)="add_new_department()">زیادکردن
              </button>
            </ion-item>
<!-- **************************************************************************************************** -->

            <ion-item class="card" style="height: 70px;background-color: #eeeeee;margin-top: 7%">
              <ion-label class="rol">ناوی بەش</ion-label>
                      <ion-select class="select_card_roles" [(ngModel)]="selected_department" placeholder="بەش" (ionChange)="getDepartmentsInfo()">
                       <ion-option *ngFor="let dep of global.dep_name;">{{dep.name}}</ion-option>
                      </ion-select>
            </ion-item>

            <ion-item class="card" style="height: 70px;background-color: #eeeeee;" *ngIf="global.permissions && global.permissions.add_department.insert">

              <ion-label class="rol">وه‌رز</ion-label>
                      <ion-select class="select_card_roles" [(ngModel)]="selected_sem" placeholder="وه‌رز">
                       <ion-option *ngFor="let sem of global.semster;">{{sem.year}}</ion-option>
                      </ion-select>
            </ion-item>

            <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee" *ngIf="global.permissions && global.permissions.add_department.insert">
              <ion-label> ناوی سەرۆک  بەش</ion-label>
                <ion-input type="text" [(ngModel)]="dep_head" placeholder="ناوی سەرۆک بەش"></ion-input>
            </ion-item>

            <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee" *ngIf="global.permissions && global.permissions.add_department.insert">
              <ion-label>ناوی بڕیاردەری بەش </ion-label>
                <ion-input type="text" [(ngModel)]="dep_assistance" placeholder="ناوی بریاردەری بەش"></ion-input>
            </ion-item>

            <ion-item  style="height: 80px;;background-color: #eeeeee" *ngIf="global.permissions && global.permissions.add_department.insert">
              <button ion-button style="float:left;margin-bottom: 5px;width: 100px;background-color:#D08A32;height: 40px;font-size: 20px" (click)="add_Dep_Info()" >گۆڕین

              </button>
            </ion-item>
          </ion-list>
        </div>
        <br>

<!-- // -->
        <table style="width:100%;" *ngIf="global.permissions && global.permissions.add_department.select" class="blueTable">
        <thead>
         <tr style="height: 40px">

          <th align-content-start  >
         ناوی بەش
          </th>

          <th align-content-star >
         ناوی سەرۆک بەش
          </th>

          <th align-content-start>
         ناوی بڕیاردەری بەش
          </th>
          <th align-content-start>
         وه‌رز
          </th>

          <th align-content-start  >
          سرینەوە
          </th>
         </tr></thead>

         <tr *ngFor="let d of dep_info;let i=index" style="height: 35px">
          <td>{{d.dep_namek}}
          </td> 
          <td>{{d.head_name}}
          </td> 
          <td>{{d.assistance}}
          </td> 
           <td>{{d.year}}
          </td> 
          <td>
            <button class="btn" (click)="delete_dep(i)">سرینەوە</button>
          </td>

         </tr>
       </table>
        <!-- </ion-grid> -->
      </ion-col>
      <ion-col col-md-1>
      </ion-col>

      <!-- <ion-col  col-md-1></ion-col> -->

    </ion-row>
  </ion-grid>
</ion-content>
