<ion-header>

  <ion-navbar color="primary" >
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-right><span style="margin-right: 5%;font-size: 30px">پلە / ڕێگە پێدان</span>
    </ion-title>
    <button ion-button round color="light" style=" float:right;font-weight: bold; max-width:35px; max-height:35px;" (click)="showinfo()">
      <ion-icon name="help"></ion-icon>
    </button>
    <!-- <button ion-button style="float:right;">Logout</button> -->
  </ion-navbar>

</ion-header>
<!-- content -->
<ion-content padding class="myview">
<ion-grid style="width: 100%">
<ion-row>
 <ion-col col-md-3>
  <ion-row>
    
    <!-- card page permission-->
    <ion-card style="border-radius: 20px;background-color: #eeeeee" class="card">
     <ion-list style="width:100%;">

      <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;background-color: #eeeeee">
        <ion-label>ناوی پلە</ion-label>
        <ion-input type="Username" [(ngModel)]="role"></ion-input>
      </ion-item>

      <ion-item style="background-color: #eeeeee">
         <button ion-button large style="float:left;margin-bottom: 5px;width: 110px;background-color:#D08A32;height: 45px" 
         (click)="add_role()">
         زیادکردن
         </button>
      </ion-item>

    </ion-list>
   </ion-card>
  </ion-row>


  <ion-row>
   <!-- table add permission -->
   <ion-grid class="table_add_rols">
    <ion-row >

       <ion-col align-content-start  style="background-color:#C2C2C2;border-bottom: 1px solid #808080">
      ناوی پلە
       </ion-col>
       <ion-col align-content-start  style="background-color:#D9D9D9;border-bottom: 1px solid #808080" class="col_t">
     گۆرین
       </ion-col>
    </ion-row>

    <ion-row *ngFor="let role of global.role_name; let i=index" >

       <ion-col align-content-start  style="background-color:#C2C2C2;" class="col_t"> {{role.roleName}}</ion-col>
       <ion-col align-content-start  style="background-color:#D9D9D9;" class="col_t">
       <button class="btn" (click)="getPermission(i)">گۆرین</button>
       </ion-col>
    </ion-row>
   </ion-grid>
  </ion-row>
 </ion-col>

 <ion-col col-md-9>
  <!-- table add permmision -->
  <ion-row class="name_row">
    <ion-label>ناو</ion-label>
    <ion-label>{{this_person.name}}</ion-label>
  </ion-row>

  <ion-row>
    <table style="width:100%;">

  <tr style="border-bottom:1px solid #808080;height: 50px">
    <th align-content-start  style="background-color:#C2C2C2;">ڕێگەپێدان</th>

    <th align-content-start  style="background-color:#D9D9D9;">زیادکردن</th>

    <th align-content-start  style="background-color:#C2C2C2">بینین</th>

    <th align-content-start  style="background-color:#D9D9D9;">گۆرین</th>

    <th align-content-start  style="background-color:#C2C2C2">سرینەوە</th>
  </tr>


  <tr *ngFor="let per of this_permission;let i=index">
    <td align-content-start col-12 col-md-4 style="background-color:#C2C2C2" >{{per.action_typek}} 
    </td>

    <td align-content-start  style="background-color:#D9D9D9">
    <ion-checkbox [(ngModel)]="per.insertp" (ionChange)="chbchanged(i)"></ion-checkbox>
    </td>

    <td align-content-start  style="background-color:#C2C2C2">
    <ion-checkbox [(ngModel)]="per.viewp"(ionChange)="chbchanged(i)"></ion-checkbox>
    </td>

    <td align-content-start  style="background-color:#D9D9D9">
    <ion-checkbox [(ngModel)]="per.updatep" (ionChange)="chbchanged(i)"></ion-checkbox>
    </td>

    <td align-content-start  style="background-color:#C2C2C2">
    <ion-checkbox [(ngModel)]="per.deletep" (ionChange)="chbchanged(i)"></ion-checkbox>
    </td>
  </tr>
</table>
<!-- </ion-row> -->
<!-- </ion-grid> -->
  </ion-row>
</ion-col>

</ion-row>
</ion-grid>
</ion-content>
