page-permission {
.myview{
   background-color:#eeeeee;
}
ion-grid{
   direction: rtl;
}

//card page permmission
.card{
   direction: rtl;
   margin-top: 13%;
}
ion-item{
   font-weight: bold;
   font-size: 40px;
   height:70px;
}
.add_rol{
   color:white;
   text-align:center;
   font-weight: bold;
   padding-right: 80px;
}
ion-input{
   margin-right:20px;
}
ion-label{
   text-align:center;
   font-weight:bold;
   font-size:20px; 
   color:black;
}
//end card page permission

//table add roles
.table_add_rols{
   direction: rtl;
   color: #201C18;
   margin-top: 6% !important;
}
.name_row{
   margin-left:35%;
}

ion-row{
   text-align:center;
   font-weight:bold;
   font-size:20px;
}
//end table add roles

//table add permission
.name_employee{
   float:left;
   font-weight:bold;
   font-size:30px; 
   color:#4A484A;
   margin-top: 6%;
}
.table_add_permission{
   direction: rtl; 
   color: #201C18;
}
.col{
   height: 60px;
   padding-top: 10px;
   padding-top: 15px;
}
.btn{
   border-color: transparent;
   background: none;
   box-shadow: none;
   font-size: 20px;
   color:gray;
   font-weight: bold;
 }
 .btn:link,.btn:focus,.btn:active,.btn:visited{
   color:#488AFF;
 }
}
