// http://ionicframework.com/docs/theming/
//header
/*ion-header {
}
ion-navbar{
}
ion-title {
  
}
.title_span{
 
}
.failedtransfer{
	  background-color:#F08080 !important ;

}
ion-modal {

	position: absolute !important;
    width: 50% !important;
    height: 65% !important; 
    top: 10% !important;
    left: 5% !important;

}
.show-page {

	position: absolute !important;
    width: 50% !important;
    height: 65% !important; 
    top: 10% !important;
    left: 5% !important;

}
.redbg{
	background-color:red;
	color:white;
}
.selected{
 background-color: rgba(72,138,255,.5); 
  color:white;
  border-radius:6px !important;
  border:1px solid grey;
}
button{
	border-color: transparent;
	background: none;
  box-shadow: none;
}
[name="ios-log-out"]{
    padding: 0 2px 0px 5px;
    border-color: transparent;
    background: none;
    box-shadow: none;
	  font-size: 25px;
    color: white;
    transform: rotate(180deg);
}
[name="logout"]{
    padding: 0 10px 0px 45px;
    border-color: transparent;
    background: none;
    box-shadow: none;
	font-size: 25px;
    color: white;
}
[name="logout"]:hover{
    color: white !important;
}
button.ios-help{
    border-color: transparent;
    background: none;
    box-shadow: none;
	font-size: 25px;
    color: white;
}
button.ios-help:hover{
	color: white !important;
}
[name="help"]{
    border-color: transparent;
    background: none;
    box-shadow: none;
	  font-size: 25px;
    color: white;
}
//end header

.tabs .tabbar {
	width: 100%;
	background:#0E6AC6;
	color: rgb(74, 138, 244);
    direction:rtl;
	margin-top:3.8%;
	font-size: 30%;
}

.tabbar {

	a.tab-button[aria-selected=true]:nth-of-type(1){
		color: white;
		.tab-button-icon {
			color: #4A484A;
		}
	}
	a.tab-button[aria-selected=false]:nth-of-type(1) {
		color: white;
		.tab-button-icon {
			color: white;
		}
	}

	a.tab-button[aria-selected=true]:nth-of-type(2){
		color: white;
		.tab-button-icon {
			color: #4A484A;
		}
	}
	a.tab-button[aria-selected=false]:nth-of-type(2) {
		color: white;
		.tab-button-icon {
			color: white;
		}
	}

	a.tab-button[aria-selected=true]:nth-of-type(3){
		color: white;
		.tab-button-icon {
			color: #4A484A;
		}
	}
	a.tab-button[aria-selected=false]:nth-of-type(3) {
		color: white;
		.tab-button-icon {
			color: white;
		}
	}

	a.tab-button[aria-selected=true]:nth-of-type(4){
		color: white;
		.tab-button-icon {
			color: #4A484A;
		}
	}
	a.tab-button[aria-selected=false]:nth-of-type(4) {
		color: white;

		.tab-button-icon {
			color: white;
		}
	}

	a.tab-button[aria-selected=true]:nth-of-type(5){
		color: white;
		.tab-button-icon {
			color: #4A484A;
		}
	}
	a.tab-button[aria-selected=false]:nth-of-type(5) {
		color: white;
		.tab-button-icon {
			color: white;
		}
	}

	a.tab-button[aria-selected=true]:nth-of-type(6){
		color: white;
		.tab-button-icon {
			color: #4A484A;
		}
	}
	a.tab-button[aria-selected=false]:nth-of-type(6) {
		color: white;
		.tab-button-icon {
			color: white;
		}
	}
}
ion-modal {

	position: absolute !important;
    width: 50% !important;
    height: 65% !important; 
    top: 10% !important;
    left: 5% !important;

}
*/



// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
