page-degree-student {
.myview{
   background-image: url('../assets/imgs/download.png');
   background-repeat: no-repeat;
   background-position:40% center;
   background-size: 30% 50%;
}
ion-grid{
   direction: rtl;
}
//action of adminstrate

.action_admin{
   margin-top: -15%;
}
.degree_stu{
   background:#488AFF;
}
.degree_stu_info{
   background:#488AFF;
   font-weight:bold;
   font-size:27px;
   color:white;
}
.select_style_action{
   background:#0E6AC6;
   font-weight:bold;
   font-size:27px;
   color:white;
   direction: rtl;
   padding-left: 50px;
   padding-right: 60px;
   border-style: hidden;
}
//end action of adminstrate

ion-row{
   color: #201C18;
   text-align:center;
   font-weight:bold;
   font-size:20px;
}
.col{
   height: 50px;
   padding-top: 1%;
}
ion-input{
   margin-right:20px;
}
ion-label{
   text-align:center;
   font-weight:bold;
   font-size:20px;	
   color:#4A484A;
}
ion-item{
	 height:55px;
   background-color: #eeeeee
}
}
