<ion-header>

  <ion-navbar color="primary" >
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-center><span style="font-size: 25px">زانکۆی سلێمانی</span>

    <button ion-button style="float:right;width:300px;font-weight: bold;font-size: 20px" round round color="light">
        {{global.currentUser.f_name}}   {{global.currentUser.m_name}}   {{global.currentUser.s_name}}
    </button>

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="logout()">دەرچوون</button>

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()">
      <ion-icon name="help"></ion-icon>
    </button>

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="settings()">
      <ion-icon name="cog"></ion-icon>
    </button>
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- content -->
<ion-content padding class="myview">
    <!-- action adminstrate-->
    <ion-grid style="width: 100%;margin-right: -30px;">
      <ion-row>
       <ion-col  col-md-2>
       <div class="action_admin">
       <ion-list>
        <ion-item  class="degree_stu" *ngFor="let dep of global.dep_name; let j=index">
         <button class="degree_stu_info" (click)="openDep(j)" *ngIf="global.showEmpDep==''">{{dep.name}}</button>
        </ion-item>
        <ion-item class="degree_stu" *ngIf="global.showEmpDep!=''">
          <button class="degree_stu_info" (click)="openDep(j)">{{global.showEmpDep}}</button>
        </ion-item> 
      </ion-list>
    </div>
  </ion-col>
</ion-row>
</ion-grid>
</ion-content>

