<ion-header>

  <ion-navbar color="primary">
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-right >
     <span style="margin-right: 5%;font-size: 25px"> {{dep_id.name}}</span>
    
    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()"><ion-icon name="help"></ion-icon>
    </button>

    </ion-title>
  </ion-navbar>

</ion-header>
<!-- content -->
<ion-content padding style="margin-right:20px;">
    <!-- action adminstrate-->
    <ion-grid style="width: 100%;">
      <ion-row text-center >
      
      </ion-row>

        <ion-row  *ngIf="global.permissions && global.permissions.transfer_student.select">
          <ion-col col-md-2>
            <ion-label>گواستنه‌وه‌</ion-label>

          </ion-col>
          <ion-col col-md-2>
          
          <ion-item class="card" style="height: 50px;background-color: #eeeeee;">
              <ion-label class="rol">وه‌رز</ion-label>
                      <ion-select class="select_card_roles" [(ngModel)]="selected_sem2">
                       <ion-option *ngFor="let sem of global.semster;" disabled="{{sem.locked=='1'}}">{{sem.year}}</ion-option>
                      </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-md-2>
          <ion-item class="card" style="height: 50px;background-color: #eeeeee;">

              <ion-label class="rol">قۆناغ</ion-label>
                      <ion-select class="select_card_roles" [(ngModel)]="selected_stage2" >
                       <ion-option *ngFor="let st of global.stage;">{{st.stagetxt}}</ion-option>
                      </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-md-3>
          </ion-col>
          <ion-col>
            <button ion-button style="max-width:250px;background-color: #D08A32;height: 45px" (click)="transferSelectedStudents()"  *ngIf="global.permissions && global.permissions.transfer_student.insert && !semlocked && selected_stage2 && selected_sem2"> Selected 
                         <ion-icon name="trophy" padding></ion-icon> 
</button>

          </ion-col>

        </ion-row>
        <br>

        <ion-row>
           <ion-col col-md-2>
            <ion-label>پشاندان</ion-label>

          </ion-col>
          <ion-col col-md-2>
            
          <ion-item class="card" style="height: 50px;background-color: #eeeeee;">
              <ion-label class="rol">وه‌رز</ion-label>
                      <ion-select class="select_card_roles myCustomSelect" [(ngModel)]="selected_sem"  (ionChange)="getStudents()">
                       <ion-option *ngFor="let sem of global.semster;">{{sem.year}}</ion-option>
                      </ion-select>
            </ion-item>
          </ion-col>

          <ion-col col-md-2>
          <ion-item class="card" style="height: 50px;background-color: #eeeeee;">

              <ion-label class="rol">قۆناغ</ion-label>
                      <ion-select class="select_card_roles myCustomSelect" [(ngModel)]="selected_stage" (ionChange)="getStudents()">
                       <ion-option *ngFor="let st of global.stage;">{{st.stagetxt}}</ion-option>
                      </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-md-3>
            <ion-item class="card" style="height: 50px;background-color: #eeeeee;">

              <ion-label class="rol">وانه‌</ion-label>
            <ion-select class= "myCustomSelect select_card_roles ion-text-uppercase" [(ngModel)]="selected_sub" >
              <ion-option *ngFor="let sub of foundSubjects;let j=index"  value="{{sub.sub_name}}" style="text-transform: capitalize;">{{sub.sub_name}}</ion-option>
            </ion-select>
          </ion-item>
          </ion-col>

          <ion-col>
            <button ion-button  color="primary" *ngIf="warning!=''" (click)="unlockSemester()">
             Unlock Semster
             <ion-icon name="unlock" margin padding></ion-icon>
             </button>

      <button ion-button  color="danger" *ngIf="warning==''" (click)="lockSemester()" >
      Lock Semster
      <ion-icon name="lock" margin padding></ion-icon>
    </button>

        <ion-label *ngIf="warning!=''"  full text-center style="text-transform: capitalize;color:red;">
        {{warning}}
      </ion-label>
          </ion-col>
        </ion-row>

        <br>
        <ion-row style="box-shadow: 6px 4px 4px 4px rgba(0,0,0,0.25);">
        
        <ion-col>
          <button ion-button round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #6EC2E6" (click)="showStudents()" *ngIf="selected_stage && !semlocked" >لیستی ناوی خوێندكاران
          <ion-icon padding name="clipboard"></ion-icon>
        </button>
          <button ion-button round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #6EC2E6" (click)="masterSheet()" *ngIf="selected_stage && !semlocked" >ماسته‌ر شیت
            <ion-icon padding name="snow"></ion-icon>
          </button>
        </ion-col>

        <ion-col>
          <button ion-button round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #1DB6D1" (click)="showSubStudent('corse1')" *ngIf="global.permissions && global.permissions.corse1_degree.select && selected_sub " >پێش كۆتایی ساڵ
          <ion-icon padding name="flag"></ion-icon>
        </button>

        <button ion-button  round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #1DB6D1" (click)="showSubStudent('final')" *ngIf="global.permissions && global.permissions.final_degree.select && selected_sub " >كۆتایی ساڵ
          <ion-icon padding name="flag"></ion-icon>
        </button>

        <button ion-button  round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #1DB6D1" (click)="showResults(1)"  >كارتی خولی یه‌كه‌م
              <ion-icon padding name="school"></ion-icon>
            </button>
      </ion-col>

      <ion-col>
        <button ion-button round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #1796CD" (click)="showSubStudent('corse2')" *ngIf="global.permissions && global.permissions.corse2_degree.select && selected_sub " >خولی دووه‌م
          <ion-icon padding name="flag">2</ion-icon>
        </button>

        <button ion-button round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #1796CD" (click)="showResults(2)"  >كارتی خولی دووه‌م
              <ion-icon padding name="school">2</ion-icon>
            </button>
      </ion-col>
        
      <ion-col>
        <button ion-button round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #107AA7" (click)="showCurved()" *ngIf="tobecurved && tobecurved.length>0 && !semlocked && global.permissions && global.permissions.curve.select" >بریاره‌كان
            <ion-icon padding name="flash"></ion-icon>
          </button>

        <button ion-button round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #107AA7" (click)="showSubStudent('curve')" *ngIf="selected_sub  && global.permissions && global.permissions.curve.select" >بڕیار
          <ion-icon padding name="color-wand"></ion-icon>
        </button>

        <button ion-button round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #107AA7" (click)="analyzeCurve()" *ngIf="selected_sem && selected_stage && !semlocked && global.permissions && global.permissions.final_degree.select">شی كردنه‌وه‌ی بڕیار 
          <ion-icon padding name="options"></ion-icon>
        </button>
        
        <button ion-button round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #107AA7" (click)="applyCurve()" *ngIf="selected_sem && selected_stage && !semlocked && global.permissions && global.permissions.curve.insert">دانانی بریار (گۆرینی حاله‌ت)
          <ion-icon padding name="medal"></ion-icon>
        </button>

        <button ion-button round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #107AA7" (click)="clearCurve()" *ngIf="selected_sem && selected_stage && !semlocked && global.permissions && global.permissions.curve.delete">سرینه‌وه‌ی بریار
          <ion-icon padding name="close"></ion-icon>
        </button>
      </ion-col>
        
      <ion-col>
            <button ion-button round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #004E70" (click)="showRanking(1)"  >ریزبه‌ندی به‌ نمره‌وه‌
              <ion-icon padding name="paper"></ion-icon>
            </button>
            <button ion-button round style="width:250px !important;font-size:16px; font-weight:bold;background-color: #004E70" (click)="showRanking(2)"  >ریزبه‌ندی به‌ ئاست
              <ion-icon padding name="paper"></ion-icon>
            </button>
      </ion-col>
        
            
            
      </ion-row>
      <br>
	   <!-- <ion-row no-padding> -->

		<ion-searchbar (ionInput)="getitems($event)" placeholder="                                                                                                                                                                       گەران">
            
        </ion-searchbar>
      <!-- </ion-row> -->
      
	  <ion-row>
       <!--table page home -->
       <table style="width:100%;" class="blueTable">
        <thead>
        <tr style="height: 40px">
          <th align-content-start  >  
             <ion-checkbox  (click)="selectall()"></ion-checkbox>
         <!-- <button ion-button color="light" (click)="selectall()"></button> -->
          </th>  
          <th align-content-start  >  
         ناوی خوێندکار
          </th>

          <th align-content-start  >  
         قۆناغ
          </th>

          <th align-content-start  >  
         حالەت
          </th>

          <th align-content-start  > 
        سالی خوێندن
          </th>

          <th align-content-start  >
        پ. ك. ساڵ
          </th>

          <th align-content-start   >  
        ك. ساڵ
          </th>

          <th align-content-start   > 
        خ. دووەم
          </th>
          <th colspan="2">
            ده‌رچووه‌ بۆ 
          </th>
          <th >
          
          </th>
      </tr></thead>

      <tr *ngFor="let stu of global.shownstudent;let i=index" [ngClass]="{'selected':SelectedStudents.indexOf(stu.id_student) > -1,'failedtransfer':failedTransfer.indexOf(stu.id_student)>-1}"  >
          <td align-content-start  [ngClass]="{'selected':SelectedStudents.indexOf(stu.id_student) > -1,'failedtransfer':failedTransfer.indexOf(stu.id_student)>-1}" > 
          <ion-checkbox [(ngModel)]="stu.selected" (click)="selectStudent(i)"></ion-checkbox>
          </td>
           <td align-content-start  [ngClass]="{'selected':SelectedStudents.indexOf(stu.id_student) > -1,'failedtransfer':failedTransfer.indexOf(stu.id_student)>-1}" > 
          {{stu.name}}
          </td>

          <td align-content-start  [ngClass]="{'selected':SelectedStudents.indexOf(stu.id_student) > -1,'failedtransfer':failedTransfer.indexOf(stu.id_student)>-1}" >
          {{stu.stage_txtEn}}
          </td>

          <td align-content-start  [ngClass]="{'selected':SelectedStudents.indexOf(stu.id_student) > -1,'failedtransfer':failedTransfer.indexOf(stu.id_student)>-1}" >  
          {{stu.state}}
          </td>
          
          <td align-content-start  [ngClass]="{'selected':SelectedStudents.indexOf(stu.id_student) > -1,'failedtransfer':failedTransfer.indexOf(stu.id_student)>-1}" >
          {{stu.recieve_year}}
          </td>

          <td align-content-start  [ngClass]="{'selected':SelectedStudents.indexOf(stu.id_student) > -1,'failedtransfer':failedTransfer.indexOf(stu.id_student)>-1}" >
     
          <button no-padding style="height:22px;padding-right:3px;padding-left: 3px;" ion-button color="light" (click)="firstcourse(i)"  *ngIf="global.permissions && global.permissions.corse1_degree.select">پ.ك.ساڵ</button>
          </td>

          <td align-content-start   [ngClass]="{'selected':SelectedStudents.indexOf(stu.id_student) > -1,'failedtransfer':failedTransfer.indexOf(stu.id_student)>-1}" >
          <button no-padding style="height:22px;padding-right:3px;padding-left: 3px;" ion-button color="light" (click)="finalcourse(i)" *ngIf="global.permissions && global.permissions.final_degree.select">ت.کۆتای سال</button>
          </td>

          <td align-content-start   [ngClass]="{'selected':SelectedStudents.indexOf(stu.id_student) > -1,'failedtransfer':failedTransfer.indexOf(stu.id_student)>-1}" >
          <button no-padding style="height:22px;padding-right:3px;padding-left: 3px;" ion-button color="light" (click)="secondcourse(i)" *ngIf="global.permissions && global.permissions.corse2_degree.select">خولی  دووەم </button>
          </td>
          <td>
            {{stu.nextsem}}
          </td>
            <td>
            {{stu.nextstage}}
          </td>
          <td  [ngClass]="{'selected':SelectedStudents.indexOf(stu.id_student) > -1,'failedtransfer':failedTransfer.indexOf(stu.id_student)>-1}" >
            <button ion-button  small (click)="addStuNewSem(i)" *ngIf="global.permissions && global.permissions.transfer_student.insert && !semlocked && !stu.nextsem && selected_sem2 && selected_stage2 && selected_sem2!=selected_sem">
             <ion-icon name="trophy"></ion-icon> 
            </button>
             <button ion-button  small (click)="editEnroll(i)" *ngIf="global.permissions && global.permissions.edit_enroll.insert && !semlocked">گۆرین
              <ion-icon name="more"></ion-icon>
             </button>

          </td>
      </tr>
      <div *ngIf="! global.shownstudent ||  global.shownstudent.length==0">هیچ خوێندكارێك نیه‌ له‌ {{selected_sem}} قۆناغی {{selected_stage}}</div>
    </table>
      </ion-row></ion-grid>
 <ion-card style="position: fixed;top:50px; width:70%;-webkit-box-shadow: 3px 15px 24px 13px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 15px 24px 13px rgba(0,0,0,0.75);
box-shadow: 3px 15px 24px 13px rgba(0,0,0,0.75);" *ngIf="plot">
      <ion-card-header>
        Bar Chart
        <button ion-button (click)="hideplot()" small round>close</button>
        <button ion-button color="dark" round style="width:250px !important;font-size:16px; font-weight:bold;" (click)="showCurved()" *ngIf="tobecurved && tobecurved.length>0" >بریاره‌كان</button>
        <button ion-button color="dark" round style="width:250px !important;font-size:16px; font-weight:bold;" (click)="showCurvedStatus()" *ngIf="tobecurved && tobecurved.length>0" >بارودۆخ</button>
      </ion-card-header>
      <ion-card-content>
        <canvas #barCanvas></canvas>
      </ion-card-content>
    </ion-card>
</ion-content>

