<ion-header>

  <ion-navbar color="primary">
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-center><span style="font-size: 25px">بڕوانامە</span>

      <button ion-button style="float:right;width:300px;font-weight: bold;font-size: 20px" round round color="light">
        {{global.currentUser.f_name}}   {{global.currentUser.m_name}}   {{global.currentUser.s_name}}
      </button>

        <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="logout()">دەرچوون</button>
     
     <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()">
      <ion-icon name="help"></ion-icon>
    </button>

    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="settings()">
      <ion-icon name="cog"></ion-icon>
    </button>

    </ion-title>
</ion-navbar>

</ion-header>
<!-- content -->
<ion-content padding class="myview">
  <ion-grid style="width: 100%">
    <ion-row>
      <ion-searchbar placeholder="                                                                                                                                                                              گەران بۆ بروانامه‌ "  (ionInput)="getCert($event)">
    <!-- [(ngModel)]="searchInput" -->
    <!-- [showCancelButton]=true -->
    <!-- [cancelButtonText]="Back" -->
    <!-- [debounce]=500 -->
    <!-- (ionInput)="onSearchInput($event)" -->
    <!-- (ionCancel)="onSearchCancel($event)" -->
    <!-- (ionClear)="onSearchClear($event)"> -->
          </ion-searchbar>
    </ion-row>
    <ion-row>
      <ion-row style="width: 100%">
        <ion-col col-md-11>

         <!-- table view certification -->

         <table style="width:100%" class="blueTable">
          <thead>
          <tr padding margin style="height: 40px">
          <th padding align-content-start >ژمارەی بروانامە</th>


          <th padding align-content-start >
          ناوی خوێندکار</th>

          <th padding align-content-start>
          ناوی بەش </th>

          <th padding align-content-start >
          ماوەی خوێندن</th>

          <th padding align-content-start >
          بەرواری دەرچوونی بروانامە</th>

          <th padding align-content-start >
          ژمارەی لەبەرگرتنەوە</th>

          <th padding align-content-start >
          pdf.
          </th>
          </tr></thead>

          <tr *ngFor="let cert of certifications;let i=index" style="height: 35px">
            <td>{{cert.code}}

            </td>
          <td>{{cert.name}}
            </td>
          <td>{{cert.dep_name}}
            </td>
          <td>4
            </td>
          <td>{{cert.date}}
            </td>
          <td>{{cert.qty}}
            </td>
            <td>
              <ion-icon  name="attach" style="font-size:20px;"  (click)="openAttachment(cert.file_name)" *ngIf="cert.file_name.length>1"></ion-icon>

            </td>
          </tr>
         </table>
        </ion-col>

        <ion-col col-md-1>
            <!--add button-->
            <button ion-button icon-end item-start class="add" (click)="hide()" *ngIf="global.permissions && global.permissions.certificates.insert">
            ز یا د کر د ن
            <ion-icon ios="ios-add" md="md-add"></ion-icon>
            </button>
        </ion-col>
      </ion-row>

      <ion-row style="width: 100%">
        <ion-col col-md-5><!-- card page certification-->
          <ion-searchbar placeholder="                                               گەران بۆ ناوی خوێندکار " *ngIf="hidee" (ionInput)="getItems($event)">
    <!-- [(ngModel)]="searchInput" -->
    <!-- [showCancelButton]=true -->
    <!-- [cancelButtonText]="Back" -->
    <!-- [debounce]=500 -->
    <!-- (ionInput)="onSearchInput($event)" -->
    <!-- (ionCancel)="onSearchCancel($event)" -->
    <!-- (ionClear)="onSearchClear($event)"> -->
          </ion-searchbar>

       <ion-card style="border-radius: 20px;background-color: #eeeeee" *ngIf="hidee">
         <ion-list style="width:100%;">

          <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label >کۆدی بروانامە</ion-label>
            <ion-input type="Text" [(ngModel)]="id_cert" placeholder="کۆد"></ion-input>
          </ion-item>

           <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label >ژ.بروانامه‌</ion-label>
            <ion-input type="number" [(ngModel)]="qty" placeholder="ژمارەی بڕوانامە"></ion-input>
          </ion-item>

          <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label >ناوی خوێندکار</ion-label>
            <ion-input type="Text" [(ngModel)]="first_name" placeholder="First name"></ion-input>
          </ion-item>
          <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label >ناوی باوک</ion-label>
            <ion-input type="Text" [(ngModel)]="second_name" placeholder="Second name"></ion-input>
          </ion-item>
          <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label >ناوی باپیر</ion-label>
            <ion-input type="Text" [(ngModel)]="third_name" placeholder="Third name"></ion-input>
          </ion-item>
          <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label >ناوی چوارەم</ion-label>
            <ion-input type="Text" [(ngModel)]="last_name" placeholder="Last name"></ion-input>
          </ion-item>

          <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label >بەرواری دروستکردن</ion-label>
            <ion-input type="date" [(ngModel)]="create_date"></ion-input>
          </ion-item>

           <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label >ڕیزبه‌ندی</ion-label>
            <ion-input type="text" [(ngModel)]="order_no" placeholder="ڕیزبەندی"></ion-input>
          </ion-item>

           <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label >كۆی خوێندكار</ion-label>
            <ion-input type="text" [(ngModel)]="total_student" placeholder="کۆدی خوێندکار"></ion-input>
          </ion-item>

           <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <ion-label style="margin-left: 45%">خول</ion-label>
            <ion-select  [(ngModel)]="round" class="select_card" style="width: 100%;background-color: #eeeeee;border: 1px solid #808080;padding-right: 10%" placeholder="خولی دەرچوون">
              <ion-option value="first">First</ion-option>
              <ion-option value="second">Second</ion-option>
            </ion-select>
          </ion-item>

          <ion-item no-line style="border-bottom: 1px solid #DBDBDB;height: 60px;background-color: #eeeeee">
            <input #fileInput type="file" multiple />
           <button ion-button round (click)="startUpload()" style="width: 90px;height: 40px">upload</button>
          </ion-item>

          <ion-item  style="height: 50px;background-color: #eeeeee">
             <button ion-button  style="float:left;width: 120px;background-color:#D08A32;height: 40px;font-size: 20px" (click)="viewCertificate()">
             پشاندان
             </button>
              <button ion-button  style="float:left;width: 120px;background-color:#D08A32;height: 40px;font-size: 20px" (click)="saveTranscript()">
             تۆماركردن
             </button>
          </ion-item>
        </ion-list>
      </ion-card>
    </ion-col>

    <ion-col col-md-7 padding>
      <table style="width:100%;margin-top: 10%; border:1px solid;" *ngIf="selectedStudent">
   
    <tr >
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.code}}
      </td>
    </tr>
    <tr>
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.fname}} {{selectedStudent.mname}} {{selectedStudent.sname}} {{selectedStudent.lname}}
      </td>
    </tr>
    <tr>
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.email}}
      </td>
    </tr>
    <tr>
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.phone}}
      </td>
    </tr>
    <tr>
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.gender}}
      </td>
    </tr>
    <tr>
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.selected_dep}}
      </td>
    </tr>
    <tr>
      <td text-center style="text-transform:capitalize;">
        {{selectedStudent.selected_resident}}
      </td>
    </tr>
    </table>
    </ion-col>

 </ion-row>
 
</ion-row>
</ion-grid>

</ion-content>

<ion-card *ngIf="global.searchedStudent && global.searchedStudent.length>0" style="position:absolute;top:100px; width:60%; z-index:20;">
  <ion-card-header style="background-color: gray">
    <span style="font-weight: bold;margin-right: 47%;background-color: gray">Searched students</span>
  </ion-card-header>

  <table style="width:100%;border:1px solid grey;">

    <tr style="border:2px solid grey;">

      <th text-center style="text-transform:capitalize;border:2px solid black;">
        کۆد
      </th>
       <th text-center style="text-transform:capitalize;border:2px solid black;">
        ناو
      </th>
      <th text-center style="text-transform:capitalize;border:2px solid black;">
        ئیمەیڵ
      </th>
      <th text-center style="text-transform:capitalize;border:2px solid black;">
        ژمارەی موبایل
      </th>
      <th text-center style="text-transform:capitalize;border:2px solid black;">
        ڕەگەز
      </th>
      <th text-center style="text-transform:capitalize;border:2px solid black;">
        بەش
      </th>
      <th text-center style="text-transform:capitalize;border:2px solid black;">
        نیشتەجێبوون
      </th>

    </tr>

    <tr *ngFor="let stu of global.searchedStudent;let i=index" (click)="selectStudent(i)" style="border:1px solid grey;">
      <td text-center style="text-transform:capitalize;">
        {{stu.code}}
      </td><td text-center style="text-transform:capitalize;">
        {{stu.name}}
      </td><td text-center style="text-transform:capitalize;">
        {{stu.email}}
      </td><td text-center style="text-transform:capitalize;">
        {{stu.phone}}
      </td> <td text-center style="text-transform:capitalize;">
        {{stu.gender}}
      </td><td text-center style="text-transform:capitalize;">
        {{stu.department}}
      </td><td text-center style="text-transform:capitalize;">
        {{stu.resident}}
      </td>
    </tr>
    </table>
  </ion-card>

