page-certification {
.myview{
   background-color:#FFFFFF;
}
ion-grid{
   direction: rtl; 
}

//table page certification
.table_view_certification{
   direction: rtl; 
   color: #201C18;
   margin-top:4%;
}
ion-row{
   text-align:center;
   font-size:20px;
}
ion-modal {

   position: absolute !important;
    width: 50% !important;
    height: 65% !important; 
    top: 10% !important;
    left: 5% !important;

}
//end table page certification

//add button
.add{
   font-weight: bold;
   margin-top:4%;
   background-color:#D08A32;
   height: 40px;
}
.add:hover{
   background: #D08A32 !important;
}
//end add button

//card page certification
ion-searchbar{
}
ion-searchbar{        
   .searchbar-input-container{            
      .searchbar-input{
        border-radius: 20px;
        background-color:#D9D9D9;
      }
    }
}
ion-card{
   direction: rtl;
}
ion-item{
   font-weight: bold;
   font-size: 40px;
   height:70px;
}

.add_rol_label{
   color: white;
   padding-right: 60px;
   text-align:center;
   height:90%;
   font-weight: bold;
}
ion-input{
   margin-right:20px;
}
ion-label{
   text-align:center;
   font-weight:bold;
   font-size:20px; 
   color:black;
}
//end card page certification

//table view student
.table_view_student{
   direction: rtl;
   color: #201C18; 
   margin-top:15%;
}
.col-style{
   height: 50px;
   padding-top: 1%;
}
table.blueTable {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
  text-align:center;

}
table.blueTable tbody td {
text-align:center;
  font-size: 20px;

}
table.blueTable tr:nth-child(even) {
  background: #D0E4F5;
}
table.blueTable thead {
  background: #1C6EA4 !important;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
  border-left: none;
}
}
ion-modal {
   margin-top:5px;
   position: absolute !important;
    width: 50% !important;
    height: 100% !important; 
    top: 10% !important;
    left: 20% !important;
    box-shadow: 26px 28px 28px 14px rgba(0,0,0,0.84);
    border-radius: 15px;

}
