<ion-header>

  <ion-navbar color="primary">
   <!--  <ion-buttons left>
      <button ion-button icon-only (click)="onClickCancel()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons> -->
    <ion-title text-right><span style="margin-right: 5%;font-size: 25px">زیادکردنی وانە</span>
    
    <button ion-button style="float:left;font-weight: bold;background-color:#D08A32 " (click)="showinfo()"><ion-icon name="help"></ion-icon>
    </button>
    </ion-title>
  </ion-navbar>

</ion-header>

<!-- content -->
<ion-content padding class="myview">
    <!-- action adminstrate-->
    <ion-grid style="width: 100%;margin-right: -30px;">
      <ion-row>
      <ion-col  col-md-2>
      </ion-col>
       <!--input page add subject -->
       <ion-col  col-md-9>
   	    <div style="">
          <button ion-button (click)="offerSubject()" style="font-size: 20px;font-weight: bold;background-color: #D08A32">هەلبژاردنی وانە</button>
   	      <ion-list style="margin-top: 2%">

            <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
              <ion-label>ناوی  وانە</ion-label>
               <ion-input type="Username" [(ngModel)]="sub_name" placeholder="ناوی وانە"></ion-input>
            </ion-item>

            <ion-item class="card" style="height: 70px;background-color: #eeeeee;">
              <ion-label class="rol">ناوی بەش</ion-label>
                      <ion-select class="select_card_roles" [(ngModel)]="selected_dep" placeholder="بەش" (ionChange)="getSubjects()">
                       <ion-option *ngFor="let dep of global.dep_name;">{{dep.name}}</ion-option>
                      </ion-select>
            </ion-item>

            <ion-item class="card" style="background-color: #eeeeee">
                <ion-label class="rol"> قۆناغ </ion-label>
                  <ion-select class="select_card_roles" [(ngModel)]="selected_stage"  placeholder="قۆناغ" >
                    <!-- (ionChange)="getSubjectStage()" -->
                    <ion-option value="yakam">یەکەم</ion-option>
                    <ion-option value="dwam"> دووەم </ion-option>
                    <ion-option value="seyam">سێیەم </ion-option>
                    <ion-option value="chwaram">چوارەم </ion-option>
                  </ion-select>
              </ion-item>

            <ion-item class="card" style="height: 70px;;background-color: #eeeeee">
              <ion-label class="rol">جۆری وانە</ion-label>
                    <ion-select [(ngModel)]="sub_type" class="select_card_roles" placeholder="جۆری وانە">
                      <ion-option value="salana">ساڵانا</ion-option>
                      <ion-option value="corsat">وەرزی</ion-option>
                      <ion-option value="be nmra">بێ نمرە</ion-option>
                    </ion-select>
            </ion-item>

            <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
              <ion-label>ماوەی وانە /ثیۆری</ion-label>
               <ion-input type="Username" [(ngModel)]="theory" placeholder="ماوەی وانە /ثیۆری"></ion-input>
            </ion-item>

            <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
              <ion-label>ماوەی وانە /پراکتیکی</ion-label>
                <ion-input type="Username" [(ngModel)]="practice" placeholder="ماوەی وانە/پراکتیکی"></ion-input>
            </ion-item>

            <ion-item no-line style="padding-right: 8px;height: 70px;background-color: #eeeeee">
              <ion-label>یەکە</ion-label>
                <ion-input type="Username" [(ngModel)]="unit" placeholder="یەکە"></ion-input>
            </ion-item>

            <ion-item  style="height: 80px;;background-color: #eeeeee">
              <button ion-button large style="float:left;margin-bottom: 5px;width: 110px;background-color:#D08A32;height: 45px"  (click)="addSubject()">زیادکردن
              </button>
              <button ion-button large style="float:left;margin-bottom: 5px;width: 100px;background-color:#D08A32;height: 40px"  (click)="update_subject()" *ngIf="show_update_btn=='true'">گۆڕین
              </button>

            </ion-item>
          </ion-list>
        </div>
        <br>
        <!--table page add subject -->
        <table style="width:100%" class="blueTable">
          <thead>
          <tr style="height: 40px">
           <th align-content-start text-center>
          ناوی  وانە
           </th>

           <th align-content-start text-center >
          ناوی  بەش
           </th>

           <th align-content-start text-center >
          قۆنا غ
           </th>

           <th align-content-start text-center  >
          جۆری وانە
           </th>

           <th align-content-start text-center >  
          یەکە
           </th>

           <th align-content-start text-center >  
          گۆڕین
           </th>

           <th align-content-start text-center  > 
           سرینەوە
          </th>
        </tr></thead>
         

         <tr *ngFor="let sub of subject;let i=index" style="height: 35px">
           <td text-center >{{sub.sub_name}}</td>

           <td  text-center >{{sub.dep_namek}}</td>

           <td  text-center >{{sub.stage}}</td>

           <td  text-center  >{{sub.sub_type}}</td>

           <td  text-center >{{sub.unit}}</td>

           <td  text-center  > 
              <button class="button1" class="button1" (click)="get_subject_info_toUpdate(i)">گۆڕین </button>
          </td>

          <td  text-center  > 
            <button class="button1" class="button1" (click)="delete_Subject(i)">سڕینەوە </button>
          </td>

         </tr>
       </table>

       </ion-col>
       <ion-col  col-md-2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
