<!-- content -->
<ion-content padding class="myview">
   <ion-grid style="width: 100%;margin-right: -30px;">
      <ion-row>

        <ion-col  col-md-2>
           <!-- action adminstrate-->
           <div class="action_admin">
             <ion-list>
                <ion-item class="popular">
               <button class="popular_info">بەشەکان</button>
             </ion-item>
             </ion-list>  
           </div>
         </ion-col>

         <ion-col  col-md-3>
            <!-- card page popular information -->
            <ion-card style="border-radius: 20px;background-color: #eeeeee" class="card">
              <ion-list style="width:100%;">

                <ion-item>
                  <ion-title ><span class="add_popular_label">پرکردنەوەی زانیاری گشتی  </span>
                  </ion-title>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >ناوی کۆلێژ</ion-label>
                  <ion-input type="Text"></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >ئیمیل</ion-label>
                  <ion-input type="Text" placeholder="                                  کۆلێژ "></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >وێبسایت</ion-label>
                  <ion-input type="Text" placeholder="                                   زانکۆ "></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >راگری کۆلێژ</ion-label>
                  <ion-input type="Text" [(ngModel)]="dean"></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >لێپرسراوی تۆمارگا</ion-label>
                  <ion-input type="Text"[(ngModel)]="reg_liable"></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >سەرۆکی ل. تاقیکردنەوەکان</ion-label>
                  <ion-input type="Text" [(ngModel)]="headExamComm"></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >سەرپەرشتیاری ل. ت</ion-label>
                  <ion-input type="Text"[(ngModel)]="examSupervisor"></ion-input>
                </ion-item>

                <ion-item no-line style="padding-right: 8px;border-bottom: 1px solid #DBDBDB;height: 70px;background-color: #eeeeee;">
                  <ion-label >سالی خوێندن</ion-label>
                  <ion-input type="Text"[(ngModel)]="semster"></ion-input>
                </ion-item>

                <ion-item style="height: 80px;background-color: #eeeeee;">
                  <button ion-button large style="float:left;width: 120px;background-color:#D08A32;" (click)="add_semster()">زیادکردن</button>
                </ion-item>
              </ion-list>
            </ion-card>
          </ion-col>

          <ion-col  col-md-7>
             <!-- table view popular information -->
             <ion-row> <ion-label class="name_collage">کۆلێژی</ion-label><ion-label ></ion-label>
             </ion-row>

             <ion-row>
              <ion-grid class="table_view_popular">
               <ion-row>

                 <ion-col align-content-start  style="background-color:#D9D9D9;">راگری کۆلێژ</ion-col>

                 <ion-col align-content-start  style="background-color:#C2C2C2;">سەرۆکی تۆمارگا</ion-col>

                 <ion-col align-content-start  style="background-color:#D9D9D9;">سەرۆکی ل. ت</ion-col>

                 <ion-col align-content-start  style="background-color:#C2C2C2;">سەرپەرشتیاری ل. ت</ion-col>

                 <ion-col align-content-start  style="background-color:#D9D9D9;">سالی خوێندن</ion-col>

                 <ion-col align-content-start  style="background-color:#C2C2C2;">گۆرین</ion-col>
               </ion-row>
               <ion-row *ngFor="let sem of global.semster;let i=index">

                 <ion-col align-content-start  style="background-color:#D9D9D9;">{{sem.dean}}</ion-col>

                 <ion-col align-content-start  style="background-color:#C2C2C2;">{{sem.reg_liable}}</ion-col>

                 <ion-col align-content-start  style="background-color:#D9D9D9;">{{sem.head_exam}}</ion-col>

                 <ion-col align-content-start  style="background-color:#C2C2C2;">{{sem.supervisor_exam}}</ion-col>

                 <ion-col align-content-start  style="background-color:#D9D9D9;">{{sem.year}}</ion-col>

                 <ion-col align-content-start  style="background-color:#C2C2C2;">
                  <button class="btn">گۆرین  </button></ion-col>
               </ion-row>



             </ion-grid>
           </ion-row>
         </ion-col>
       </ion-row>
     </ion-grid>
</ion-content>
