page-popular {

.myview{
   background-color:#eeeeee;
}
ion-grid{
   direction: rtl;
}
//action of adminstrate
.action_admin{
   margin-top: 12%;
}
.popular{
   background:#0E6AC6;
}
.popular_info{
   background:#0E6AC6;
   font-weight:bold;
   font-size:27px;
   color:white;
}
.select_style_action{
	 background:#0E6AC6;
   font-weight:bold;
   font-size:27px;
   color:white;
   direction: rtl;
   padding-left: 50px;
   padding-right: 60px;
   border-style: hidden;
}
//end action of adminstrate

//card page popular information
.card{
   direction: rtl;
   margin-top: 16%;
}
.add_popular_label{
   color: white;
   padding-right: 50px;
   text-align:center;
   height:100%;
   font-weight: bold;
}
ion-input{
   margin-right:20px;
}
ion-label{
   text-align:center;
   font-weight:bold;
   font-size:20px; 
   color:black;
}
//end card page popular information

//table view popular information
.table_view_popular{
   direction: rtl;
   color: #201C18;
}
ion-row{
   text-align:center;
   font-weight:bold;
   font-size:20px;
}
.name_collage{
   float:left;
   padding-left:1000px;
   font-weight:bold;
   font-size:30px; 
   color:#201C18;
   margin-top: 10%;
}
.col{
   height: 60px;
   padding-top: 15px;
 }
 .btn{
   border-color: transparent;
   background: none;
   box-shadow: none;
   font-size: 20px;
   color:gray;
   font-weight: bold;
 }
}
